﻿<div class="widget-loading " ng-show="loading" layout layout-fill layout-align="center center">
    <div class="widget-loading-inner" ng-show="loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
    </div>
</div>
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="margin: 24px 9px">
    <div>
        <h2 class="m-0 f-s-18 f-500" translate>Getting Started</h2>
    </div>
    <h2 translate class="f-s-16 m-0 l-h-0">
        Welcome to your Automation Control Panel.
    </h2>
</div>