﻿<style>
    p {
        font-size: 12px !important;
        line-height: 15px !important;
    }
</style>
<div class="widget-loading " ng-show="loading" layout layout-fill layout-align="center center">
    <div class="widget-loading-inner" ng-show="loading">
        <md-progress-circular md-mode="CreateCompanyCtrl.indeterminate" md-diameter="70"></md-progress-circular>
    </div>
</div>
<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">           
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <label>Report Document</label>
                <a id="reportdoc_view" fancyboxable="reportdoc_view" rel="group" href="{{EditReportcntrl.Report.ReportImage}}">
                    <img alt="reportdoc_view" style="width:200px !important;" src="{{EditReportcntrl.Report.ReportImage}}" alt="" />
                </a>
            </div>f
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Title">
                    <label>Title</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="EditReportcntrl.Report.Name">
                </md-input-container>
                <md-input-container class="col-lg-8 col-xs-12 p-l-0 control-group" infoicon displaytxt="Description">
                    <label>Description</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="EditReportcntrl.Report.Description">
                </md-input-container>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Select Ailment">
                    <label>Ailment</label>
                    <md-select ng-model="EditReportcntrl.Report.AilmentId">
                        {{ailment}}
                        <md-option ng-repeat="ailment in EditReportcntrl.AilmentsData" value="{{ailment.Key}}">
                            {{ailment.Value}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Select Body Part">
                    <label>Body Part</label>
                    <md-select ng-model="EditReportcntrl.Report.BodyPartId">
                        {{bodypart}}
                        <md-option ng-repeat="bodypart in EditReportcntrl.BodyPartsData" value="{{bodypart.Key}}">
                            {{bodypart.Value}}
                        </md-option>
                    </md-select>
                </md-input-container>

            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Diagnosed By">
                    <label>Diagnosed By</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.Report.DiagnosedBy">
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Hospital Name">
                    <label>Hospital Name</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.Report.HospitalName">
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Doctor Phone">
                    <label>Doctor Phone</label>
                    <input type="text" class="field__input" field-input validate noempty="true" inputonlynumber="true" ng-model="CreateCompanyCtrl.Report.DoctorPhone">
                </md-input-container>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Council Expence">
                    <label>Council Expence</label>
                    <input type="text" class="field__input" field-input validate noempty="true" inputonlynumber="true" ng-model="CreateCompanyCtrl.Report.CouncilExpence">
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Medical Expence">
                    <label>Medical Expence</label>
                    <input type="text" class="field__input" field-input validate noempty="true" inputonlynumber="true" ng-model="CreateCompanyCtrl.Report.MedicalExpence">
                </md-input-container>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Medicines">
                    <label>Medicines</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.Report.Medicines">
                </md-input-container>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12 p-b-20 text-right">
            <button class="btn" waves validate trigger-check="true">Submit</button>
        </div>
    </div>
</md-content>
