﻿<div class="widget-loading " ng-show="loading" layout layout-fill layout-align="center center">
    <div class="widget-loading-inner" ng-show="loading">
        <md-progress-circular md-mode="Vaccinationscntrl.indeterminate" md-diameter="70"></md-progress-circular>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <div class="card  p-0" style="margin: 24px 9px">
            <div class="card-body p-l-0 p-r-0">
                <div id="tblmain" class="table-responsive scrolltable">
                    <table id="VaccintionsTableSaw" class="table  table-vmiddle tablesaw m-l--1">
                        <thead>
                            <tr style="border-top:1px solid #FFFFFF;">
                                <th sortable="'UserId'" style="cursor:pointer;" ng-click="SortBy('UserId')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='UserId'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont"> #</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='UserId'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont"> #</span>
                                        <i class="zmdi zmdi-caret-down " ng-if="reverse && ColumnName ==='UserId'"></i>
                                        <i class="zmdi zmdi-caret-up " ng-if="!reverse && ColumnName ==='UserId'"></i>
                                    </h3>
                                </th>
                                <th sortable="'Name'" style="cursor:pointer;" ng-click="SortBy('Name')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='Name'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont">Name</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='Name'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont">Name</span>
                                        <i class="zmdi zmdi-caret-down " ng-if="reverse && ColumnName ==='Name'"></i>
                                        <i class="zmdi zmdi-caret-up " ng-if="!reverse && ColumnName ==='Name'"></i>
                                    </h3>
                                </th>
                                <th sortable="'Email'" style="cursor:pointer;" ng-click="SortBy('Email')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='Email'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate> Email</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='Email'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate> Email</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="reverse && ColumnName ==='Email'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="!reverse && ColumnName ==='Email'"></i>
                                    </h3>
                                </th>        
                                 <th sortable="'Phone'" style="cursor:pointer;" ng-click="SortBy('Phone')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='Phone'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate> Phone</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='Phone'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate> Phone</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="reverse && ColumnName ==='Phone'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="!reverse && ColumnName ==='Phone'"></i>
                                    </h3>
                                </th>                              
                                <th sortable="'UserType'" style="cursor:pointer;" ng-click="SortBy('UserType')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='UserType'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Type</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='UserType'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Type</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='UserType'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='UserType'"></i>
                                    </h3>
                                </th>
                                <th sortable="'City'" style="cursor:pointer;" ng-click="SortBy('City')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='City'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>City</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='City'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>City</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='City'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='City'"></i>
                                    </h3>
                                </th>
                                <th sortable="'Country'" style="cursor:pointer;" ng-click="SortBy('Country')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='Country'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Country</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='Country'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Country</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='Country'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='Country'"></i>
                                    </h3>
                                </th>
                                <th sortable="'Longitude'" style="cursor:pointer;" ng-click="SortBy('Longitude')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='Longitude'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Longitude</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='Longitude'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Longitude</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='Longitude'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='Longitude'"></i>
                                    </h3>
                                </th>
                                <th sortable="'Latitude'" style="cursor:pointer;" ng-click="SortBy('Latitude')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='Latitude'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Latitude</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='Latitude'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Latitude</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='Latitude'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='Latitude'"></i>
                                    </h3>
                                </th>                                
                                <th scope="col" class="hide">
                                    <h3 class="m-0">
                                        <span class="small m-0  f-s-13-5 tableheader" translate>_action_</span>
                                    </h3>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        <tr ng-repeat="user in Users | filter : Search | orderBy:predicate:reverse">
                            <td  sortable="'UserId'">{{user.UserId}}</td>
                            <td data-title="'Name'" sortable="'Name'">
                                {{user.Name}}
                            </td>
                            <td  sortable="'Email'">
                                {{user.Email}}
                            </td>
                            <td  sortable="'Phone'">
                                {{user.Phone}}
                            </td>
                            <td sortable="'UserType'">
                                {{user.UserType}}
                            </td>
                            <td  sortable="'City'">
                                {{user.City}}
                            </td>
                            <td  sortable="'Country'">
                                {{user.Country}}
                            </td>
                            <td  sortable="'Longitude'">
                                {{user.Longitude}}  
                            </td>
                            <td  sortable="'Latitude'">
                                {{user.Latitude}}
                            </td>
                            <td >
                                <button class="btn btn-xs btn-info hide" ng-click="EditUser(user);" title="Edit" rel="tooltip"><span class="icon icon-pencil"></span></button>
                            </td>
                        </tr>
                        <tr class="odd" ng-if="Users.length===0 || !Users.length">
                            <td valign="top" colspan="9" class="dataTables_empty">No matching records found</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




               
            