﻿<style type="text/css">
        .dropdownjs > ul > li {
            border-bottom: 1px inset #FFFFFF !important;
        }

            .dropdownjs > ul > li:first-child
            {
                border-bottom: 2px inset grey !important;
            }

            .dropdownheaderitem
            {
                 font-size: 13px !important;
                 top: 4px !important;
                 visibility: visible!important;
                 color: rgba(0, 0, 0, 0.26)!important;
            }

            .dropdownfirstitem
            {
                color: #545454 !important;
                font-size: 0.875rem !important;
            }

            select:placeholder {
           color: #545454 !important;
           font-size: 0.875rem !important;
    }
           .mdl-textfield__label{
                color:#757575 !important;
                font-size: 11px !important;
                 top: 4px !important;
                visibility: visible !important;
                font-weight:600 !important;
            }
           .mdl-textfield__input{
               font-size:0.875rem !important;
               border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
               color: #545454 !important;
               cursor: pointer !important;
               font-family:Roboto,"Helvetica Neue",sans-serif !important;
           }
           .dropdown-menu > li > a{
               font-family:unset !important;
           }

           .daterangepicker .ranges ul {
        width: 128px;
    }
    .daterangepicker
    {
       left: 672px;
    }

    .daterangepicker .calendar
     {
        margin-bottom: 4px;
        margin-left: -4px;
        margin-top: 4px;
        max-width: 260px;
    }

    .form-control::-moz-placeholder
    {
        color: #999;
        font-size: 13px !important;
        opacity: 1;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
    {
        background-color: #FFFFFF!important;
        opacity: 1;
    }
</style>


<div id="{{SessionData.MobileScreen?'ds_Nav-admin-filter-toolbar':''}}" class="ds_Nav-admin-filters bg_white text-color" ng-if="SessionData.CurrentState === 'Calendar'">
    <div class="ds_Nav-admin-filters__column m-t-25" translate>view_as</div>
    <div class="ds_Nav-admin-filters__column">
        <div class="ds_Nav-admin-filters__filter-row">


            <div data-upgraded=",MaterialTextfield" class="ds_Nav-admin-filters__cell mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded m-b-5 col-xs-3">
                <a>
                    <label tabindex="-1" class="mdl-textfield__label dropdownheaderitem" translate>event_typo</label>
                </a>
                <div class="">
                    <div class="  ">
                        <div class="control-group">
                            <select id="eventDropDown" class="select form-control p-l-10 selectcustommulti mdl-textfield__input" parammodel="SessionData.AdminSearchSelectedeventType" multiple="true" ng-model="SessionData.MAdminSearchSelectedeventType" dynamicdata="{{SessionData.CalendarEventType}}" placeholder="Select Event" ng-change="GetCalendarEvents()">

                                <option ng-repeat="event in SessionData.CalendarEventType"
                                        value="{{event.ID}}" test="{{event.ID}}">
                                    {{event.Description}}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div data-upgraded=",MaterialTextfield" class="ds_Nav-admin-filters__cell mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded m-b-5 col-xs-3">
                <a>
                    <label tabindex="-1" class="mdl-textfield__label dropdownheaderitem" translate>location</label>
                </a>
                <div class="">
                    <div class="  ">
                        <div class="control-group">


                            <select id="countryDropDown" class="select form-control p-l-10 selectcustommulti mdl-textfield__input" parammodel="SessionData.AdminSearchSelectedCountry" multiple="true" ng-model="SessionData.MAdminSearchSelectedCountry" dynamicdata="{{SessionData.AdminFilterCountries}}" placeholder="Select Country" ng-change="GetCalendarEvents()">

                                <option ng-repeat="country in  SessionData.AdminFilterCountries"
                                        value="{{country.CountryCode}}" test="{{country.CountryCode}}">
                                    {{country.CountryDescription}}
                                </option>



                            </select>



                        </div>
                    </div>

                </div>
            </div>




            <div data-upgraded=",MaterialTextfield" class="ds_Nav-admin-filters__cell mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded m-b-5 col-xs-3">
                <a>
                    <label tabindex="-1" class="mdl-textfield__label dropdownheaderitem" translate>event_days</label>
                </a>



                <div class="row">

                    <div class="col-sm-9 col-xs-9 p-r-0 m-r-0 ">

                        <input type="text" class="form-control mdl-textfield__input" id="EventDays">
                    </div>

                    <div class="col-sm-0 m-t-10" ng-if="SessionData.EndDate">

                        <i ng-click="ReCalendarEvents()" class="zmdi zmdi-close-circle f-s-17 c-gray p-t-5 cursor-pointer">

                        </i>


                    </div>



                </div>
            </div>







            <div class="ds_Nav-admin-filters__cell mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded m-b-5 p-t-20 hidden-xs hidden-sm hidden-md " style="align-items: flex-start">

            </div>

            <div class="ds_Nav-admin-filters__cell mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty is-upgraded m-b-5 p-t-20 col-xs-4" style="align-items: flex-start">

                <div class="row">
                    <div class="col-sm-1 col-xs-1 m-t-15">


                        <i class="zmdi zmdi-search zmdi-hc-fw fcomputersize c-gray"></i>



                    </div>
                    <div class="col-sm-9 col-xs-9 p-r-0 m-r-0 ">
                        <input type="text" class="form-control p-t-5 m-l--13" ng-model="SessionData.SearchAdminEvents" placeholder="Search for Events" style="" ng-change="SearchCalendarEvents(1)">

                    </div>

                    <div class="col-sm-0 m-t-10" ng-if="SessionData.SearchAdminEvents !== ''">

                        <i ng-click="SearchCalendarEvents(0)" class="zmdi zmdi-close-circle f-s-17 c-gray p-t-5 cursor-pointer">

                        </i>


                    </div>



                </div>


            </div>
        </div>
    </div>

</div>


