﻿<div class="widget-loading " ng-show="loading" layout layout-fill layout-align="center center">
    <div class="widget-loading-inner" ng-show="loading">
        <md-progress-circular md-mode="CompaniesCtrl.indeterminate" md-diameter="70"></md-progress-circular>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <div class="card  p-0" style="margin: 24px 9px">
            <div class="card-body p-l-0 p-r-0">
                <div id="tblmain" class="table-responsive scrolltable">
                    <table id="ReportsTableSaw" class="table  table-vmiddle tablesaw m-l--1">
                        <thead>
                            <tr style="border-top:1px solid #FFFFFF;">
                                <th sortable="'ReportId'" style="cursor:pointer;" ng-click="SortBy('ReportId')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='ReportId'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont"> #</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='ReportId'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont"> #</span>
                                        <i class="zmdi zmdi-caret-down " ng-if="reverse && ColumnName ==='ReportId'"></i>
                                        <i class="zmdi zmdi-caret-up " ng-if="!reverse && ColumnName ==='ReportId'"></i>
                                    </h3>
                                </th>
                                <th sortable="'MemberName'" style="cursor:pointer;" ng-click="SortBy('MemberName')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='MemberName'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont">Member Name</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='MemberName'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont">Member Name</span>
                                        <i class="zmdi zmdi-caret-down " ng-if="reverse && ColumnName ==='MemberName'"></i>
                                        <i class="zmdi zmdi-caret-up " ng-if="!reverse && ColumnName ==='MemberName'"></i>
                                    </h3>
                                </th>
                                <th sortable="'Name'" style="cursor:pointer;" ng-click="SortBy('Name')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='Name'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate> Title</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='Name'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate> Title</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="reverse && ColumnName ==='Name'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="!reverse && ColumnName ==='Name'"></i>
                                    </h3>
                                </th>
                                <!--<th sortable="'Description'" style="cursor:pointer;" ng-click="SortBy('Description')" scope="col" class="hidden-sm hidden-xs" ng-class="{'hidden':WinWidth<650}">
                                    <h3 class="m-0" ng-if="ColumnName !=='Description'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Description</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='TreeType'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Description</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='Description'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='Description'"></i>
                                    </h3>
                                </th>-->
                                <th sortable="'Ailment'" style="cursor:pointer;" ng-click="SortBy('Ailment')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='Ailment'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Ailment</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='Ailment'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Ailment</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='Ailment'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='Ailment'"></i>
                                    </h3>
                                </th>
                                <th sortable="'BodyPart'" style="cursor:pointer;" ng-click="SortBy('BodyPart')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='BodyPart'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Body Part</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='BodyPart'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Body Part</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='BodyPart'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='BodyPart'"></i>
                                    </h3>
                                </th>
                                <!--<th sortable="'DiagnosedBy'" style="cursor:pointer;" ng-click="SortBy('DiagnosedBy')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='DiagnosedBy'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Diagnosed By</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='DiagnosedBy'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Diagnosed By</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='DiagnosedBy'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='DiagnosedBy'"></i>
                                    </h3>
                                </th>-->
                                <th sortable="'IsProcessed'" style="cursor:pointer;" ng-click="SortBy('IsProcessed')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='IsProcessed'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Status</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='IsProcessed'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Status</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='IsProcessed'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='IsProcessed'"></i>
                                    </h3>
                                </th>
                                <th sortable="'CreatedDate'" style="cursor:pointer;" ng-click="SortBy('CreatedDate')" scope="col">
                                    <h3 class="m-0" ng-if="ColumnName !=='CreatedDate'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Date</span>
                                    </h3>
                                    <h3 class="m-0" ng-if="ColumnName==='CreatedDate'">
                                        <span class="small m-0 c-black87 f-s-13-5 tableheader headerfont" translate>Date</span>
                                        <i class="zmdi zmdi-caret-down" ng-if="!reverse && ColumnName ==='CreatedDate'"></i>
                                        <i class="zmdi zmdi-caret-up" ng-if="reverse && ColumnName ==='CreatedDate'"></i>
                                    </h3>
                                </th>
                                <th scope="col" class="hidden">
                                    <h3 class="m-0">
                                        <span class="small m-0  f-s-13-5 tableheader" translate>_action_</span>
                                    </h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report in  Reportscntrl.ReportsRawData | orderBy:predicate:reverse">
                                <td sortable="'ReportId'" ng-bind="report.ReportId"></td>
                                <td sortable="'MemberName'" ng-bind="report.MemberName"></td>
                                <td sortable="'Name'" class="c-black87" ng-bind="report.Name"></td>
                                <!--<td sortable="'Description'" class="c-black87 hidden-sm hidden-xs" ng-class="{'hidden':WinWidth<650}"><span ng-bind="report.Description"></span></td>-->
                                <td sortable="'Ailment'" ng-bind="report.Ailment"></td>
                                <td sortable="'BodyPart'" ng-bind="report.BodyPart"></td>
                                <!--<td sortable="'DiagnosedBy'" ng-bind="report.DiagnosedBy"></td>-->
                                <td sortable="'IsProcessed'"><span class="label label-mini" ng-class="{'label-danger':!report.IsProcessed,'label-info':report.IsProcessed}">{{report.IsProcessed?'Processed':'Not Processed'}}</span></td>
                                <td sortable="'CreatedDate'" ng-bind="report.CreatedDate | date:'MM/dd/yyyy'"></td>
                                <td style="">
                                    <div >
                                        <button ng-click="EditReport(report);" class="mdl-button no-animate mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-animation--fast-out-slow-in" tooltip="Edit Report" tooltip-placement="bottom">
                                            <i id="img_{{report.ReportId}}" class="icon icon-pencil"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>                           
                            <tr ng-if="(Reportscntrl.ReportsRawData==null || Reportscntrl.ReportsRawData==undefined || Reportscntrl.ReportsRawData.length == 0)">
                                <td colspan="5" translate>
                                    No Record Found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

