﻿<main class="md-layout__content">
   
        <form class="mdl-card mdl-shadow--2dp ng-dirty ng-valid-parse ng-valid ng-valid-required" style="height: 400px ! important;">
         
            <div class="mdl-card__title" style="margin: 0px auto;height:200px">
              <div class="">
            <img ng-src="assets/img/logo.png" class="" style="width:300px;" onerror="this.src = 'assets/img/noimage.png'" />
        </div>
               
            </div>

            <div class="mdl-card__supporting-text">
                <div  class="text_danger m-b-20">
                    <strong class="ng-binding" ng-bind="error_message"></strong>
                </div>
               <div class="form-group fg-float m-b-20">
                <div class="fg-line control-group" ng-class="ge.Username?'fg-toggled':''">
                    <input type="text" class="form-control" validate noempty="true" ng-model="Username">
                </div>
                <label class="fg-label" translate="Username"></label>
            </div>
                <div class="form-group fg-float m-b-20">
                    <div class="fg-line control-group" ng-class="Password?'fg-toggled':''">
                        <input type="password" class="form-control" validate noempty="true" ng-model="password">
                    </div>
                    <label class="fg-label" translate="Password"></label>
                </div>
            </div>

                <div class="mdl-card__actions">
                    <div class="widget-loading " ng-show="loading" layout layout-fill layout-align="center center">
                        <div class="widget-loading-inner" ng-show="loading" style="top: 50% ! important; left: 50% ! important; position: fixed;">
                            <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
                        </div>
                    </div> 
                    <button ng-if="!loading" class="mdl-button mdl-button--raised no-animate mdl-button--colored mdl-js-button mdl-js-ripple-effect" success="AuthenticationFunc()" validate trigger-check="true" translate>login</button>
                </div>

</form>
    </main>
