﻿@media (min-width:0) and (max-width: 767px) {
    #loginpage #l-login {
        top: 0px !important;
    }
  
    #loginpage .bbnone {
        border-bottom: none !important;
    }
}

#loginpage .backgrnd-blue {
    background: #005EB8;
}

@media(max-width:767px) {
    #loginpage .customselect {
        background-color: #005eb8 !important;
        color: #fff !important;
    }
}


@media(min-width:768px) {
    #loginpage .fg-float .fg-toggled + .fg-label {
        color: #000000;
    }
    #loginpage .customselect {
        background-color: #005eb8 !important;
        color: #fff !important;
    }
   
}
 #loginpage .language-bg {
        background-color: #005eb8;
        color: #fff;
        padding-left: 15px;
        padding-right: 26px;
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: -2px;
    }

    #loginpage .margin-select {
        margin: 0 auto;
        width: 276px;
    }
#loginpage .bgm-lightblack {
    background-color: #333;
}
#loginpage .forget-pass-block {
    padding: 20px 32px !important;
    width: 308px !important;
    height: 391px !important;
}

#loginpage .forgot-username > i {
    font-size: 25px;
}

#loginpage input[type="text"] {
    font-size: 14px;
    font-weight: 300;
}

#loginpage .fg-float .fg-toggled + .fg-label {
    font-size: 12px;
    top: -10px;
    font-weight: 300;
}

#loginpage .lc-block:not(.lcb-alt) {
    padding: 35px 34px;
}

#loginpage .lc-block {
    width: 302px;
    margin-top: 0px !important;
}

#loginpage .fg-float .fg-label {
    font-size: 14px;
    top: 11px;
}

#loginpage .forgot-username {
    right: 30px;
}

#loginpage #mainicon {
    color: #ffffff;
}

#loginpage .fakeinput {
    background-color: transparent !important;
    color: #ffffff;
    padding-left: 0px !important;
}
