﻿<style type="text/css">
    .b-dashed {
        border: 1px dashed #e0e0e0;
    }
    .dz-max-files-reached {
        border: 0px !important;
    }
    .dropdownheight {
        max-height: 250px !important;
        overflow-y: auto !important;
    }
    .fcomputersize {
        font-size: x-large !important;
    }
    .adoption {
        color: #FAAB36;
        font-size: 13px;
        font-weight: bold;
    }
    .mobheaderbg {
        background-color: #FAA21C !important;
        color: #fff !important;
    }
    body #content {
        padding-top: 0px !important;
    }
    .card-header:not(.ch-alt) {
        padding: 13px 25px !important;
    }
    .fweight {
        font-weight: 100;
    }
    @media (max-width:767px) {
        body {
            padding-top: 0;
        }
        section {
            margin-top: 0px !important;
        }
    }
    .m-t--10 {
        margin-top: -10px;
    }
    .help-block {
        display: block;
        margin-bottom: -26px;
        margin-top: 5px;
    }
    .datepicker table td.active::before {
        background-color: #009688;
        margin-left: -10px !important;
        margin-right: 10px !important;
    }
    .datepicker table thead tr th .glyphicon {
        padding-left: 5px !important;
        position: absolute !important;
        top: 16px !important;
        width: 30px !important;
    }
    .datepicker table td.active::after {
        background-color: #009688;
        margin-left: -4px !important;
    }
    .datepicker table td:hover:not(.today):not(.active)::before {
        margin-left: -6px !important;
    }
    .datepicker table thead tr:first-child th {
        padding-left: 10px !important;
    }
    .datepicker table td.today::before {
        margin-left: -7px !important;
    }
    .datepicker table td.day {
        padding-right: -5px !important;
    }
    .md-dialog-container {
    overflow:auto;
    }
    md-dialog {
position:absolute;
top:20px;
    }
    @media(max-width:1200px) {
        .md-dialog-container {
        left:10%;
        }
    }
</style>


<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools  bgm-color3">
                <span class="ds_Dialog__close-button col-sm-1 col-xs-1 m-t--10">
                    <button class="ds_Dialog__closeButton mdl-button mdl-button--icon" type="button" ng-click="close(0)">
                        <i class="icon icon-close cursor-pointer c-white"></i>
                    </button>
                </span>
                <span class="col-sm-7 col-xs-7"><h2 class="c-white  font-large text-center  pull-left"> <label class="fg-label f-s-20 f-400">{{title}} </label></h2></span>
                <span class="col-sm-4 col-xs-3 m-t--5"><a class="c-white pull-right f-s-20 f-400 savebtn" validate trigger-check="true" success="FAddCalendarItem()" id="submit" translate>save_</a></span>

            </div>
        </md-toolbar>
        <md-dialog-content>
            <div id="editadminevent" class="">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                    <div class="card m-b-0">
                        <!--<div class="card-header" ng-class="SessionData.SelectedEvent.EditEventID >0 ? 'bgm-color3':'bgm-color2'">-->
                        <!--<div class="card-header bgm-color3">

                        </div>-->
                        <div class="card-body card-padding p-l-5 p-r-5">
                            
                                    <div class="row">
                                        <div class="form-group  control-group fg-float col-sm-1 col-xs-1">
                                            <div class="fg-line m-t-25">
                                                <i class="zmdi zmdi-calendar zmdi-hc-fw fcomputersize c-gray"></i>
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-7 col-xs-7">
                                            <label class="fweight"><span class="" translate>global_name</span></label>
                                            <div class="fg-line m-t--10">
                                                <input type='text' class="form-control" maxlength="100" style="font-weight:bold;" Section1="true" value="" validate noempty="true" ng-model="SessionData.SelectedEvent.Title">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  control-group fg-float col-sm-1 col-xs-1  m-t--10" ng-if="$root.WinWidth > 839">
                                            <div class="fg-line m-t-30">
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-11 col-xs-11">
                                            <label class="fweight"><span class="" translate>global_description</span></label>
                                            <div class="fg-line m-t-10" style="border: 1px solid;">
                                                <textarea type='text' class="form-control" ng-model="SessionData.SelectedEvent.Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  control-group fg-float col-sm-1 col-xs-1 m-t--30">
                                            <div class="fg-line m-t-30">
                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                    <path fill="#9E9E9E" d="M15,13H16.5V15.82L18.94,17.23L18.19,18.53L15,16.69V13M19,8H5V19H9.67C9.24,18.09 9,17.07 9,16A7,7 0 0,1 16,9C17.07,9 18.09,9.24 19,9.67V8M5,21C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H6V1H8V3H16V1H18V3H19A2,2 0 0,1 21,5V11.1C22.24,12.36 23,14.09 23,16A7,7 0 0,1 16,23C14.09,23 12.36,22.24 11.1,21H5M16,11.15A4.85,4.85 0 0,0 11.15,16C11.15,18.68 13.32,20.85 16,20.85A4.85,4.85 0 0,0 20.85,16C20.85,13.32 18.68,11.15 16,11.15Z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-6 col-xs-6">
                                            <label class="fweight"><span class="f-500" translate>all_day</span></label>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-2 col-xs-2 m-l-13">
                                            <div class="toggle-switch" data-ts-color="amber">
                                                <input id="ts2" type="checkbox" hidden="hidden" ng-model="SessionData.SelectedEvent.AllDay" ng-change="changeToTime()">
                                                <label for="ts2" class="ts-helper"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  control-group fg-float col-sm-1 col-xs-1    m-t--10">
                                            <div class="m-t-30">
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-5 col-xs-5 m-t--2">
                                            <label class="fweight"><span class="" translate>from</span></label>
                                            <div class="fg-line m-t--10">
                                                <input type='text' id="startdate" class="form-control startdate-time-picker datpick datetypetextboxes" ng-model="SessionData.SelectedEvent.StartDate" validate noempty="true" placeholder="Select Date...">
                                                <span class="input-group-addon last c-gray pull-right p-b-0 p-t-0">
                                                    <i class="zmdi zmdi-caret-down zmdi-hc-fw c-black" style=" font-size: 25px; margin-top: -36px; position: absolute; width: 10px; right: 9px;"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-3 col-xs-3">
                                            <label class="fweight"><span class=""></span></label>
                                            <div class="fg-line m-t--5 starttime input-group">
                                                <input type='text' id="mobilestartTime" class="form-control errNextElem time-picker datpick datetypetextboxes " ng-model="SessionData.SelectedEvent.startime" placeholder="Select Time..." ng-disabled="ShowTimeBlocks" validate mindatetime="true">
                                                <span class="input-group-addon last c-gray pull-right p-b-0 p-t-0">
                                                    <i class="zmdi zmdi-caret-down zmdi-hc-fw c-black" style=" font-size: 25px; margin-top: -36px; position: absolute; width: 10px; right: 9px;"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  control-group fg-float col-sm-1 col-xs-1 m-t--10">
                                            <div class=" m-t-30">
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-5 col-xs-5 m-t--2">
                                            <label class="fweight"><span class="" translate>to</span></label>
                                            <div class="fg-line m-t--10">
                                                <input type='text' id="enddate" class="form-control startdate-time-picker datpick datetypetextboxes" placeholder="Select Date..." ng-model="SessionData.SelectedEvent.EndDate" validate noempty="true" mindate="true">
                                                <span class="input-group-addon last c-gray pull-right p-b-0 p-t-0">
                                                    <i class="zmdi zmdi-caret-down zmdi-hc-fw c-black" style="font-size: 25px; margin-top: -36px; position: absolute; width: 10px; right: 9px;"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-3 col-xs-3">
                                            <label class="fweight"><span class=""></span></label>
                                            <div class="fg-line m-t--5 input-group">
                                                <input type='text' id="mobileendtime" class="form-control errNextElem time-picker datpick datetypetextboxes endtime" ng-model="SessionData.SelectedEvent.endtime" placeholder="Select Time..." ng-disabled="ShowTimeBlocks" validate mindatetime="true">
                                                <span class="input-group-addon last c-gray pull-right p-b-0 p-t-0">
                                                    <i class="zmdi zmdi-caret-down zmdi-hc-fw c-black" style="font-size: 25px; margin-top: -36px; position: absolute; width: 10px; right: 9px;"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-r--5">
                                        <div class="form-group control-group fg-float col-sm-1 col-xs-1 m-t--10">
                                            <div class="fg-line m-t-30">
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-5 col-xs-5">
                                            <label class="fweight"><span class="" translate>time_zone</span></label>
                                            <div class="fg-line">
                                                <md-select ng-model="SessionData.SelectedEvent.TimeZone" placeholder="Select TimeZone">
                                                    <md-option ng-value="zone.Id" ng-repeat="zone in TimeZoneList">{{ zone.DisplayName }}</md-option>
                                                </md-select>
                                            </div>
                                            </div>
                                        <div class="form-group  control-group fg-float col-sm-5 col-xs-5">
                                            <label class="fweight"><span class="" translate>Repeat Options :</span></label>
                                            <div class="fg-line">
                                                <md-select ng-model="SessionData.SelectedEvent.CalendarItemRepeatTypeID" placeholder="Select TimeZone">
                                                    <md-option ng-value="type.ID" ng-repeat="type in CalendarItemRepeatTypeResponse">{{ type.Description }}</md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-10">
                                        <div class="form-group  control-group fg-float col-sm-1 col-xs-1 m-t--30">
                                            <div class="fg-line m-t-30">
                                                <i class="zmdi zmdi-pin zmdi-hc-fw fcomputersize c-gray"></i>
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-6 col-xs-6">
                                            <label class="fweight"><span class="f-500" translate>location</span></label>
                                            <div class="fg-line m-t--10">
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-2 col-xs-2 m-l-13">
                                            <div class="toggle-switch" data-ts-color="amber">
                                                <input id="ts3" type="checkbox" hidden="hidden" ng-model="SessionData.SelectedEvent.Location" ng-change="ShowAdrs()">
                                                <label for="ts3" class="ts-helper"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-l-0" ng-if="LocationValue">
                                        <div class="row m-r-15">
                                            <div class="form-group  control-group fg-float col-sm-1 col-xs-1  m-t--10">
                                                <div class="fg-line m-t-30">
                                                </div>
                                            </div>
                                            <div class="form-group control-group fg-float col-sm-8 col-xs-8">
                                                <label class="fweight"><span translate>country_</span></label>
                                                <div class="fg-line">
                                                    <md-select ng-model="SessionData.SelectedEvent.Country" placeholder="Select Country" ng-change="FGetCountryStateList(SessionData.SelectedEvent.Country,1);">
                                                        <md-option ng-value="country.CountryCode" ng-repeat="country in country">{{ country.Country }}</md-option>
                                                    </md-select>

                                                    <!--<select validate validate-select="true" class="select selectcustom form-control p-l-10" ng-model="SessionData.SelectedEvent.Country" dynamicdata="{{country}}" ng-options="country.CountryCode as country.Country for country in country" ng-change="FGetCountryStateList(SessionData.SelectedEvent.Country,1)">
                                                        <option value="" translate>select_country</option>
                                                    </select>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-r-15">
                                            <div class="form-group  control-group fg-float col-sm-1 col-xs-1  m-t--10">
                                                <div class="fg-line m-t-30">
                                                </div>
                                            </div>
                                            <div class="form-group  control-group fg-float col-sm-8 col-xs-8">
                                                <label class="fweight"><span translate>address</span></label>
                                                <div class="fg-line m-t--10 ">
                                                    <input type="text" ng-model="SessionData.SelectedEvent.Address1" class="form-control c-gray" style="font-size:14px;" validate noempty="true" Section1="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-r-15">
                                            <div class="form-group  control-group fg-float col-sm-1 col-xs-1  m-t--10">
                                                <div class="fg-line m-t-30">
                                                </div>
                                            </div>
                                            <div class="form-group  control-group fg-float col-sm-8 col-xs-8">
                                                <label class="fweight"><span translate>city_</span></label>
                                                <div class="fg-line m-t--10 ">
                                                    <input type="text" ng-model="SessionData.SelectedEvent.City" class="form-control c-gray" style="font-size:14px;" validate noempty="true" Section1="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-r-15">
                                            <div class="form-group  control-group fg-float col-sm-1 col-xs-1  m-t--10">
                                                <div class="fg-line m-t-30">
                                                </div>
                                            </div>
                                            <div class="form-group  control-group fg-float col-sm-8 col-xs-8">
                                                <label class="fweight"><span translate>state</span></label>
                                                <div class="">
                                                    <md-select ng-model="SessionData.SelectedEvent.State" placeholder="Select Country">
                                                        <md-option ng-value="region.RegionCode" ng-repeat="region in regions">{{ region.RegionDescription }}</md-option>
                                                    </md-select>
                                                    <!--<select validate validate-select="true" class="select selectcustom form-control p-l-10" ng-model="SessionData.SelectedEvent.State" dynamicdata="{{regions}}" ng-options="region.RegionCode as region.RegionDescription for region in regions">
                                                        <option value="" translate>select_state</option>
                                                    </select>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-r-15">
                                            <div class="form-group  control-group fg-float col-sm-1 col-xs-1  m-t--10">
                                                <div class="fg-line m-t-30">
                                                </div>
                                            </div>
                                            <div class="form-group  control-group fg-float col-sm-8 col-xs-8">
                                                <label class="fweight"><span translate>zip</span></label>
                                                <div class="fg-line m-t--10">
                                                    <input type="text" ng-model="SessionData.SelectedEvent.Zip" class="form-control c-gray" style="font-size:14px;" validate noempty="true" Section1="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  control-group fg-float col-sm-1 col-xs-1">
                                            <div class="fg-line m-t-30">
                                                <i class="zmdi zmdi-format-list-numbered zmdi-hc-fw fcomputersize c-gray"></i>
                                            </div>
                                        </div>
                                        <div class="form-group  control-group fg-float col-sm-5 col-xs-5">
                                            <label class="fweight"><span class="" translate>event_typo</span></label>
                                            <div class="fg-line">
                                                <md-select ng-model="SessionData.SelectedEvent.CalendarTypeID" placeholder="Select Event" ng-change="updateLocale(SessionData.Selectedlanguage);">
                                                    <md-option ng-value="eventtype.ID" ng-repeat="eventtype in SessionData.EventTypePopup">{{ eventtype.Description }}</md-option>
                                                </md-select>
                                                <!--<select validate validate-select="true" ng-model="SessionData.SelectedEvent.CalendarTypeID" placeholder="Select Event" class="select selectcustom form-control p-l-10" ng-options="eventtype.ID as eventtype.Description for eventtype in SessionData.EventTypePopup"></select>-->
                                            </div>
                                        </div>
                                    </div>
                               
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row" ng-show="title === 'Edit Event'">
                            <a><span class="col-sm-12 col-xs-12"><i class="zmdi zmdi-delete zmdi-hc-fw fcomputersize c-black" tooltip="Delete Event" tooltip-placement="top" ng-click="FDeleteCalendarItem(SessionData.SelectedEvent.EditEventID)"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

        </md-dialog-content>
    </form>
</md-dialog>