/**
 * base.less
 * --------
 * sets baseline defaults for various elements.
 */

// global css variables (native) for easy applying of theme colors
:root {
    --color1: #005EB8;
    --color2: #007EC6;
    --color3: #C6161D;
    --color4: #D5841F;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    -ms-overflow-style: none;
    height: 100%;
}
body {
    height: 100%;
    overflow-y: auto;
    position: relative;
    transition: opacity .5s;
}
    .body--loading-theme {
        opacity: 0.25;
        transition: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}


/**
 * bootstrap additions (should probably go somewhere else)
 */
p:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
    .table th,
    .table td {
        padding-bottom: 12px;
        padding-top: 12px;
    }
}
@media (min-width: 1080px) {
    .table th,
    .table td {
        padding: 12px;
    }
}

.btn--full {
    width: 100%;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}
.btn-clean {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.btn-link {
    border-color: transparent;
    padding: 0;
    text-transform: none;
    vertical-align: baseline;
}
.btn-link:active {
    color: #2196f3;
}
.btn-outline {
    color: #fff;
    border: 2px solid #fff;
    transition: color .2s;
}
    .btn-outline:hover {
        color: rgba(255, 255, 255, .7);
    }


/**
 * bootstrap overrides (could go somewhere else)
 */
.table .table {
	background-color: transparent;
}
.table-responsive {
    margin-bottom: 0;
}

.dropdown-menu {
	z-index: 9;
}
.dropdown-menu .divider {
	background-color: rgba(0,0,0,0.08);
}


/**
 * vendor overrides (should go somewhere else)
 */
.lg-backdrop {
    background-color: rgba(255, 255, 255, .95);
}
.lg-toolbar {
    background-color: transparent;
}
.lg-toolbar .lg-icon:hover {
    color: #555;
}
md-dialog 
{
    position: relative !important;
}