﻿

/**
 * colors.css
 * ----------
 * contains utility classes for background colors, text colors, and border colors
 */

/**
 * text colors (.c-)
 */
/* Named colors (named with keywords) */
.c-gray {
    color: #9e9e9e !important;
}

.c-lightgray {
    color: #e2e2e2 !important;
}

.c-darkgray {
    color: #5e5e5e !important;
}

.c-darkblue {
    color: #005eb8 !important;
}

.c-greylight {
    color: #696969 !important;
}

.c-black87 {
    color: #212121 !important;
}

.c-black54 {
    color: #7E7E7E !important;
}

.c-black38 {
    color: #A5A5A5 !important;
}

.c-black12 {
    color: #DFE0E0 !important;
}

.c-Notificationnone {
    color: #A9A9A9 !important;
}

/* Theme colors (named with numbers) */
.c-color1 {
    color: var(--color1) !important;
}

.c-color2 {
    color: var(--color2) !important;
}

.c-color3 {
    color: var(--color3) !important;
}

.c-color4 {
    color: var(--color4) !important;
}


/* theme colors (named with numbers) */
/* primary toolbar */
.bgm-color1 {
    background-color: var(--color1) !important;
}
/* Buttons, TAB, Icons Buttons, Toolbar when called from a button,
Background for prospect profile avatars */
.bgm-color2 {
    background-color: var(--color2) !important;
}
/* Selected state on desktop side navigation, Toolbar when the action is modal or temporary */
.bgm-color3 {
    background-color: var(--color3) !important;
}
/* Background for distributor profile avatars */
.bgm-color4 {
    background-color: var(--color4) !important;
}

.nav_active {
    color: var(--color3) !important;
    padding-left: 14px !important;

    i.icon {
        color: var(--color3) !important;
    }
}

svg.community.nav_active path, .community_svg.nav_active path {
    fill: var(--color3) !important;
    fill-opacity: 1;
}

svg.trainingcourses.nav_active path, .trainingcourses_svg.nav_active path {
    fill: var(--color3) !important;
    fill-opacity: 1;
}

.ds_layout__drawer-menu-link:hover, .ds_layout__drawer-menu-link:focus {
    color: var(--color3) !important;
    border-left: 2px solid var(--color3) !important;
    padding-left: 13px;

    i.icon {
        color: var(--color3) !important;
    }

    svg.trainingcourses path {
        fill: var(--color3) !important;
        fill-opacity: 1;
    }

    svg.community path {
        fill: var(--color3) !important;
        fill-opacity: 1;
    }
}



/* Selected checkbox colors use color code 3*/
.ds_checkbox:checked + .ds_checkbox__label .ds_checkbox__box {
    background-color: var(--color3) !important;
    border-color: var(--color3) !important;
}

.dropdownjs > ul > li.selected,
.dropdownjs > ul > li:active {
    background-color: var(--color3) !important;
    color: #ffffff;
}

.dropdownjs > ul > li:focus {
    background-color: var(--color3) !important;
    border-bottom: 1px solid var(--color3);
}

.dropdownjs > ul > li:hover {
    background-color: var(--color3) !important;
    border-bottom: 1px solid var(--color3);
}

.toggle-switch[data-ts-color] input:checked:not(:disabled) + .ts-helper, .toggle-switch:not([data-ts-color]) input:checked:not(:disabled) + .ts-helper::before {
    background: var(--color3) none repeat scroll 0 0 !important;
}

.checkbox .input-helper::after {
    color: var(--color3) !important;
}

.toggle-switch:not([data-ts-color]) input:checked:not(:disabled) + .ts-helper {
    background-color: var(--color3) !important;
}

.toggle-switch[data-ts-color="amber"] input:checked:not(:disabled) + .ts-helper::before {
    background-color: var(--color3) !important;
}

.fg-line:not([class*="has-"])::after {
    background-color: var(--color1) !important;
}

md-select.md-default-theme:focus:not([disabled]) .md-select-value, md-select:focus:not([disabled]) .md-select-value {
    border-bottom-color: var(--color3) !important;
}

md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {
    color: var(--color3) !important;
}

._md-checkbox-enabled.md-default-theme [selected] .md-icon, .md-checkbox-enabled[selected] ._md-icon {
    background-color: var(--color3) !important;
}

.md-select-menu.md-default-theme md-content md-option[selected]:focus, md-select-menu md-content md-option[selected]:focus {
    color: var(--color3) !important;
}

md-select-menu[multiple] md-option._md-checkbox-enabled[selected] ._md-icon::after {
    background-color: var(--color2) !important;
    color: var(--color2) !important;
}

._md-checkbox-enabled.md-default-theme [selected] ._md-icon, ._md-checkbox-enabled[selected] ._md-icon {
    background-color: var(--color2) !important;
}

html.md-default-theme, html, body.md-default-theme, body {
    background-color: #DDDDDD !important;
}

md-switch.md-default-theme.md-checked ._md-thumb, md-switch.md-checked ._md-thumb {
    background-color: var(--color3) !important;
}

md-switch.md-default-theme.md-checked ._md-bar, md-switch.md-checked ._md-bar {
    background-color: var(--color3) !important;
}
/*Stop Animation for element */
.no-animate.ng-animate {
    -webkit-transition: none !important;
    transition: none !important;
}

md-progress-circular.md-default-theme path, md-progress-circular path {
    stroke: var(--color1) !important;
}

.widget-loading {
    position: fixed !important;
    top: 0;
    left: 5%;
    width: 100%;
    height: 100%;
    z-index: 100;

    .widget-loading-inner {
        transform: scale(0.5);
    }
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
    border-bottom-color: var(--color1) !important;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) label, md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: var(--color1) !important;
}

md-select.md-default-theme:focus:not([disabled]) ._md-select-value, md-select:focus:not([disabled]) ._md-select-value {
    border-bottom-color: var(--color1) !important;
}

.md-primary {
    background-color: var(--color2) !important;
}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
    color: var(--color3) !important;
}

.md-button.md-default-theme.md-accent

:not([disabled]) md-icon, .md-button.md-accent:not([disabled]) md-icon {
    color: var(--color3) !important;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar)
{
     background-color:  var(--color4) !important;
}