/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

/**
 * colors
**/
// @color1: #005EB8;
// @color2: #007EC6;
// @color3: #C6161D;
// @color4: #D5841F;



/**
 * typography
 */
@sansFontFamily: 'Roboto', sans-serif;



/**
 * bootstrap variables
 */
// bootstrap colors
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee
@gray-border:            #cfcfcf;

@brand-primary:         #2196f3;
@brand-success:         #4caf50;
@brand-info:            #00bcd4;
@brand-warning:         #ff9800;
@brand-danger:          #f44336;

@body-bg: #dfdfdf;

@text-color: @gray;

@link-color: #005eb8;
@link-hover-color: @brand-primary;
@link-hover-decoration: none;

@font-family-base: @sansFontFamily;
@font-size-base: 14px;

@font-size-h1: 22px;
@font-size-h2: 22px;
@font-size-h3: 20px;
@font-size-h4: 20px;
@font-size-h5: 16px;
@font-size-h6: 16px;

@line-height-computed: 20px;

// bootstrap components

@component-active-color: #000;
@component-active-bg: @gray-lighter;

@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;

@padding-large-vertical: 10px;
@padding-large-horizontal: 16px;

@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;

@padding-xs-vertical: 1px;
@padding-xs-horizontal: 5px;

@line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small: 1.5;

@border-radius-base: 2px;
@border-radius-large: 2px;
@border-radius-small: 2px;

// bootstrap thumbnails
@thumbnail-padding: 3px;
@thumbnail-bg: #fff;
@thumbnail-border: @gray-border;
@thumbnail-border-radius: 2px;

// form states and alerts
@state-success-text:             #4caf50;
// @state-success-bg:               #dff0d8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                @brand-primary;
// @state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@state-warning-text:             #ff9800;
// @state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 5%);

@state-danger-text:              #f44336;
// @state-danger-bg:                #f2dede;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);

// bootstrap tables
@table-cell-padding: 13px;
@table-border-color: @gray-border;
@table-condensed-cell-padding: 10px;
@table-bg-accent: #f4f4f4;

@table-bg-active: #fffcbe;

// bootstrap forms
@input-height-base: 35px;
@input-border: @gray-border;
@input-border-focus: #b4b4b4;
@input-border-radius-small: 2px;
@input-border-radius-large: 0;
@input-bg-disabled: #eee;

@input-height-large: 40px;

// bootstrap dropdowns
@dropdown-border: transparent;
@dropdown-link-hover-color: #333;
@dropdown-link-hover-bg: rgba(0,0,0,0.075);
@dropdown-link-active-color: #333;
@dropdown-link-active-bg: rgba(0,0,0,0.075);
@dropdown-link-disabled-color: #e4e4e4;

// bootstrap navs
@nav-tabs-border-color: #fff;
@nav-tabs-link-hover-border-color: @gray-border;
@nav-tabs-active-link-hover-border-color: #fff;
@nav-tabs-justified-link-border-color: #ddd;
@nav-tabs-active-link-hover-bg: transparent;
@nav-tabs-justified-active-link-border-color: @gray-border;

// bootstrap breadcrumbs
@breadcrumb-bg: transparent;

// bootstrap pagination
@pagination-bg: #e2e2e2;
@pagination-border: #fff;
@pagination-hover-border: #fff;
@pagination-active-border: #fff;
@pagination-disabled-bg: #e2e2e2;
@pagination-disabled-border: #fff;

// bootstrap badges
@badge-bg: @brand-primary;
@badge-border-radius: @border-radius-base;
@badge-active-bg: @brand-primary;
@badge-active-color: #fff;

// bootstrap list-group
@list-group-border: @gray-border;
@list-group-disabled-bg: #fff;
@list-group-disabled-color: #b5b4b4;

// bootstrap modals
@modal-content-border-color: transparent;
@modal-content-fallback-border-color: transparent;
@modal-header-border-color: transparent;

// bootstrap tooltips
@tooltip-bg: #737373;

// bootstrap popovers
@popover-border-color: #fff;
@popover-fallback-border-color: #fff;

@popover-title-bg: #fff;