Copyright &copy; 2015 Material Admin

<ul class="f-menu">
    <li><a translate>home</a></li>
    <li><a translate>dashboard_</a></li>
    <li><a translate>reports</a></li>
    <li><a translate>support</a></li>
    <li><a translate>contact</a></li>
</ul>
