﻿<style>
    .ds_Nav-admin__switch-env.mdl-button {
        color: #fff !important;
    }

    .dropdown-menu > li > a {
        font-size: 14px;
    }

    @media (min-width:600px) {
        #headerdropdown .dropdown-menu {
            width: 300px !important;
            left: unset !important;
            right: 20px !important;
        }
    }

    @media (max-width:600px) {
        .dropdown-menu {
            width: 250px;
            left: unset !important;
            right: 0px !important;
        }
    }

    @media (max-width:840px) {
        .title-position {
            position: absolute;
            padding-top: 5px;
        }
    }

    .profile-pic {
        border: 3px solid rgba(0, 0, 0, 0.14);
        border-radius: 50%;
        box-sizing: content-box;
        height: 30px;
        width: 30px;
    }
</style>
<div class="col-lg-7 col-md-7 col-sm-7  p-l-0" ng-class="SessionData.MobileScreen?'col-xs-6':'col-xs-8'">
    <button class="mdl-button mdl-button--icon" data-toggle="#ds_Drawer-left" ng-show="$root.WinWidth < 840 && $root.WinWidth >= 320">
        <span class="icon icon-menu">
        </span>
    </button>

    <h1 class="ds_layout__page-title title-position" ng-bind="SessionData.PageName" style="font-weight:normal"></h1>
</div>
<div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 text-right p-0 ">
    <div id="headerdropdown" class="ds_Nav-admin__switch-env btn-group ng-scope" dropdown="" style="box-shadow: none;">
        <button class="mdl-button mdl-js-button ds_Nav-admin__switch-env" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
            <img src="{{CurrentUser.LoginDetails.image}}" alt="" class="profile-pic">
            <span class="ng-binding">{{CurrentUser.LoginDetails.name}}</span>            
        </button>        
    </div>
</div>

