﻿<style>
    .font-larger {
    font-size: larger;
    }

    .p-l-11 {
    padding-left: 11px;
    }

    .m-t-3 {
    margin-top: 3px;
    }

    .ds_layout__drawer-menu-link span {
    font-weight: 500 !important;
    }

    .ds_layout__drawer-menu-link i {
    color:#757575 !important;
    }


    .ds_Admin-menu__user-name {
    font-size: 16px;
    line-height: 20px;
    color:rgba(0, 0, 0, 0.87);
    }
</style>
<header class="ds_Nav-admin__sidebar-header p-t-10 p-b-10">
    <div class="media w-100">
        <div class="pull-left">
            <img ng-src="assets/img/logo.png" class="" style="width:200px;" onerror="this.src = 'assets/img/noimage.png'" />
        </div>
    </div>
</header>
<nav ng-if="$root.WinWidth < 840 && $root.WinWidth >= 320">
    <a data-toggle="#ds_Drawer-left" ng-click="GoToState('Start');" ng-class="SessionData.CurrentState==='Start'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="zmdi zmdi-hc-2x zmdi-home"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span> </a>
    <a data-toggle="#ds_Drawer-left" ng-click="GoToState('Companies');" ng-class="SessionData.CurrentState==='Companies'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="icon icon-24px icon-library-books"></i><span >Companies</span> </a>
   <a data-toggle="#ds_Drawer-left" ng-click="GoToState('Users');" ng-class="SessionData.CurrentState==='Users'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="zmdi zmdi-hc-2x zmdi-accounts-alt"></i><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users</span> </a>
    <a data-toggle="#ds_Drawer-left" ng-click="GoToState('Start');" ng-class="SessionData.CurrentState==='Vaccinations'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="icon icon-24px icon-library-books"></i><span >Social Suite</span> </a>
   <!-- <a data-toggle="#ds_Drawer-left" ng-click="GoToState('Chats');" ng-class="SessionData.CurrentState==='Chats'?'nav_active':''" class="ds_layout__drawer-menu-link community_svg">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="icon-24px icon community">
            <path class="icon-24px icon" fill="#757575" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10M17,11H15V9H17V11M13,11H11V9H13V11M9,11H7V9H9V11Z" />
        </svg><span >Chats</span>
    </a>-->
    
    <!--<a data-toggle="#ds_Drawer-left" ng-click="GoToState('Notifications');" ng-class="SessionData.CurrentState==='Notifications'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="zmdi zmdi-hc-2x zmdi-notifications"></i><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notifications</span> </a>-->
    <a data-toggle="#ds_Drawer-left" ng-click="logout();" class="ds_layout__drawer-menu-link b-t"><i class="icon icon-24px icon-power"></i><span > Sign Out</span></a>
</nav>
<nav ng-if="$root.WinWidth > 839" style="overflow-y:auto;">
    <a ng-click="GoToState('Start');" ng-class="SessionData.CurrentState==='Start'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="zmdi zmdi-hc-2x zmdi-home"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span> </a>
    <a ng-click="GoToState('Companies');" ng-class="SessionData.CurrentState==='Companies'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="icon icon-24px icon-library-books"></i><span >Companies</span> </a>
   <a ng-click="GoToState('Users');" ng-class="SessionData.CurrentState==='Users'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="zmdi zmdi-hc-2x zmdi-accounts-alt"></i><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users</span> </a>
     <!--<a ng-click="GoToState('Vaccinations');" ng-class="SessionData.CurrentState==='Vaccinations'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="icon icon-24px icon-library-books"></i><span >Vaccinations</span> </a>-->
   <!-- <a ng-click="GoToState('Chats');" ng-class="SessionData.CurrentState==='Chats'?'nav_active':''" class="ds_layout__drawer-menu-link community_svg">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="icon-24px icon community">
            <path class="icon-24px icon" fill="#757575" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10M17,11H15V9H17V11M13,11H11V9H13V11M9,11H7V9H9V11Z" />
        </svg><span >Chats</span>
    </a>-->
    
    <a ng-click="GoToState('Start');" ng-class="SessionData.CurrentState==='Notifications'?'nav_active':''" class="ds_layout__drawer-menu-link"><i class="zmdi zmdi-hc-2x zmdi-notifications"></i><span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Social Suite</span> </a>
    <a ng-click="logout();" class="ds_layout__drawer-menu-link b-t"><i class="icon icon-24px icon-power"></i><span > Sign Out</span></a>
    
</nav>
<script>
    $(function () {
    $('nav a').click(function () {
    $('nav a').removeClass('nav_active');
    $(this).addClass('nav_active');
    });
    });
</script>
