﻿<style>
    #main-content {
        margin-left: 0px !important;
    }

    .wrapper {
        margin-top: 0px !important;
    }
</style>
<div id="login-page">
    <div class="container">

        <form class="form-login" action="index.html">


            <div class="alert alert-danger" ng-if="CurrentUser.UserId ===0"> Invalid Username or Password.</div>
            <h2 class="form-login-heading">Change password now</h2>
            <div class="login-wrap">
                <div class="control-group">
                    <label>New Password</label>
                    <input type="password"  required="" ng-model="Password" tabindex="1" validate noempty="true" minlength="6" class="form-control ng-pristine ng-touched" id="password"  autocomplete="off"/>
                </div>
                <br>
                <div class="control-group">
                    <label>Confirm New Password</label>
                    <input type="Password" required="" ng-model="ConfirmPassword" tabindex="2" validate noempty="true" class="form-control ng-pristine ng-touched" id="confirmpassword" autocomplete="off" style="margin-bottom: 6px;" />
                </div>        
                <span class="error">{{PageMessage}}</span>     
                <button validate trigger-check="true" class="btn btn-theme btn-block " tabindex="3" success="changePassword()" title="Change Password">Change Password <i class="fa fa-angle-right fa-white"></i></button>
            </div>
           
        </form>

    </div>
</div>