﻿<style>
    p {
        font-size: 12px !important;
        line-height: 15px !important;
    }

  
</style>
<md-dialog ng-cloak>
    <md-toolbar class="m-h-40 m-b-10">
        <div class="md-toolbar-tools widgetTooltip">
            <span class="ds_Dialog__close-button">
                <button class="ds_Dialog__closeButton mdl-button mdl-button--icon" type="button" ng-click="close(0)">
                    <i class="icon icon-close cursor-pointer c-white"></i>
                </button>
            </span>
            <h6 class="md-flex m-0">Add AutoOrder Carts Details</h6>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding p-0">
        <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
            <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Cart Name">
                        <label>Name</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-model="AutoOrderShoppingmodal.Name">
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Cart Item codes">
                        <label>Item Codes</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-model="AutoOrderShoppingmodal.ItemCodes">
                    </md-input-container>
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Currency">
                        <label>Currency Code</label>
                        <md-select id="CurrencyCode" ng-model="AutoOrderShoppingmodal.CurrencyCode" aria-label="CurrencyCode">
                            <md-option id="typeCurrencyCode" ng-value="currcodes.Key" ng-repeat="currcodes in autoOrderCart.AutomationData['CurrencyCodes']">{{currcodes.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Languguage Type">
                        <label>Language</label>
                        <md-select id="LanguageID" ng-model="AutoOrderShoppingmodal.LanguageID" aria-label="LanguageID">
                            <md-option id="typeLanguageID" ng-value="lang.Key" ng-repeat="lang in autoOrderCart.AutomationData['Languages']">{{lang.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Price Type">
                        <label>Price Type</label>
                        <md-select id="PriceTypeID" ng-model="AutoOrderShoppingmodal.PriceTypeID" aria-label="PriceTypeID">
                            <md-option id="typePriceTypeID" ng-value="price.Key" ng-repeat="price in autoOrderCart.AutomationData['PriceTypes']">{{price.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Country">
                        <label>Country Code</label>
                        <md-select id="CurrencyCode" ng-model="AutoOrderShoppingmodal.CountryCode" aria-label="CountryCode">
                            <md-option id="typeCountryCode" ng-value="country.Key" ng-repeat="country in autoOrderCart.AutomationData['Countries']">{{country.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Warehouse">
                        <label>Warehouse</label>
                        <md-select id="WarehouseID" ng-model="AutoOrderShoppingmodal.WarehouseID" aria-label="WarehouseID">
                            <md-option id="typeWarehouseID" ng-value="warehouse.Key" ng-repeat="warehouse in autoOrderCart.AutomationData['Warehouses']">{{warehouse.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select WebID">
                        <label>WebID</label>
                        <md-select id="WebID " ng-model="AutoOrderShoppingmodal.WebID " aria-label="WebID ">
                            <md-option id="typeWebID " ng-value="web.Key" ng-repeat="web in autoOrderCart.AutomationData['Web']">{{web.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Web Category">
                        <label>Web Category</label>
                        <md-select id="WebCategoryID" ng-model="AutoOrderShoppingmodal.WebCategoryID" aria-label="WebCategoryID">
                            <md-option id="typeWebCategoryID" ng-value="webcat.Key" ng-repeat="webcat in autoOrderCart.AutomationData['WebCategories']">{{webcat.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Default Ship Method">
                        <label>Default Ship Method</label>
                        <md-select id="DefaultShipMethodID " ng-model="AutoOrderShoppingmodal.DefaultShipMethodID " aria-label="DefaultShipMethodID ">
                            <md-option id="typeDefaultShipMethodID " ng-value="ship.Key" ng-repeat="ship in autoOrderCart.AutomationData['ShipMethodes']">{{ship.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Frequency">
                        <label>Frequency</label>
                        <md-select id="Frequency" ng-model="AutoOrderShoppingmodal.Frequency" aria-label="Frequency">
                            <md-option id="typeFrequency" ng-value="freq.Key" ng-repeat="freq in autoOrderCart.AutomationData['Frequencies']">{{freq.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Payment Type">
                        <label>Payment Type</label>
                        <md-select id="PaymentType" ng-model="AutoOrderShoppingmodal.PaymentType" aria-label="PaymentType">
                            <md-option id="typePaymentType" ng-value="payment.Key" ng-repeat="payment in autoOrderCart.AutomationData['PaymentTypes']">{{payment.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Process Type">
                        <label>Process Type</label>
                        <md-select id="ProcessType" ng-model="AutoOrderShoppingmodal.ProcessType" aria-label="ProcessType">
                            <md-option id="typeProcessType" ng-value="process.Key" ng-repeat="process in autoOrderCart.AutomationData['ProcessTypes']">{{process.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-4 p-l-0 tooltipselect" infoicon displaytxt="Select Customer Type">
                        <label>Customer Type</label>
                        <md-select id="ProcessType" ng-model="AutoOrderShoppingmodal.CustomerType" aria-label="CustomerType">
                            <md-option id="typeCustomerType" ng-value="customer.Key" ng-repeat="customer in autoOrderCart.AutomationData['CustomerTypes']">{{customer.Value}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Choose RestrictToWarehouse value">
                        <md-switch class="m-0" ng-model="AutoOrderShoppingmodal.RestrictToWarehouse">Restrict To Warehouse</md-switch>
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 text-right" layout-align="end start">
                    <md-input-container>
                        <md-button class="pull-right" validate trigger-check="true" success="SubmitAutoOrderShoppingCarts()">Submit</md-button>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
