﻿<style>
    p {
        font-size: 12px !important;
        line-height: 15px !important;
    }
</style>
<div class="widget-loading " ng-show="loading" layout layout-fill layout-align="center center">
    <div class="widget-loading-inner" ng-show="loading">
        <md-progress-circular md-mode="CreateCompanyCtrl.indeterminate" md-diameter="70"></md-progress-circular>
    </div>
</div>
<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">           
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <h3>User Details</h3>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Select Ailment">
                    <label>Ailment</label>
                    <md-select ng-model="User.UserTypeId" id="ddlUserTypes">
                        <option value="">Select User Type</option>
                            <md-option  value="3">Doctor</md-option>
                            <md-option  value="4">Lab</md-option>
                            <md-option  value="5">Chemist</md-option>
                            <md-option  value="6">Pharma Company</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Name">
                    <label>Name</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="User.Name">
                </md-input-container>
               
            </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Email">
                    <label>Email</label>
                    <input type="text" class="field__input" field-input validate noempty="true" email="true" ng-model="User.Email">
                </md-input-container>
                <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Mobile">
                    <label>Mobile</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="User.Mobile">
                </md-input-container>
             </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" >
                <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Select Image">
                    <input type="file" class="form-control" id="userImage" />
                </md-input-container>
                   <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Address">
                    <label>Address</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="User.Address">
                </md-input-container>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter DateOfBirth">
                    <label>Started On</label>
                    <input id="startedOn" type="text" class="field__input" field-input validate noempty="true" ng-model="User.DateOfBirth">
                </md-input-container>

                <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Longitude">
                    <label>Longitude</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="User.Longitude">
                </md-input-container>
                   <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Latitude">
                    <label>Latitude</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="User.Latitude">
                </md-input-container>
            </div>
             </div>
        </div>
</md-content>
<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" ng-repeat="sdataItem in SpecializationsData">
                 <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Select Specialization">
                    <label>Ailment</label>
                    <md-select ng-model="sdataItem.SelectedSpecializationId" id="ddlSpecialization" ng-change="changeSpecializationType()">
                        <md-option ng-repeat="specialization in sdataItem.AvailableSpecializations" value="{{specialization.Key}}" >
                            {{specialization.Value}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Timing">
                    <label>Specialization</label>
                    <input type="text" class="field__input" field-input validate noempty="true"ng-model="sdataItem.Timing">
                </md-input-container>
                   <md-input-container class="col-lg-2 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Fee">
                    <label>Fee</label>
                    <input type="text" class="field__input" field-input validate noempty="true" ng-model="sdataItem.Fee">
                </md-input-container>
                <md-input-container class="col-lg-2 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Fee">
                 <button type="submit" class="btn btn-sm btn-danger" ng-click="newOrRemoveSpecializationItem(sdataItem,'remove')"><span class="icon icon-delete"></span></button>
                  <button type="submit" class="btn btn-sm btn-success" ng-if="sdataItem.IsAddMore && sdataItem.IsAddMoreEnabled" ng-click="newOrRemoveSpecializationItem(sdataItem,'addNew')"><span class="icon icon-plus"></span></button>
           </md-input-container>
                     </div>
        </div>
        </div>
                </md-content>
<md-input-container class="col-lg-12 col-xs-12 p-l-0  text-right">
    <button class="btn" waves validate trigger-check="true" success="UpdateUserDetails()">{{BtnText}}</button>
 </md-input-container>


