﻿<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="card-body col-md-12 col-sm-12 col-xs-12">   
            <md-toolbar class="m-h-40 m-b-10">
                <div class="md-toolbar-tools widgetTooltip">
                    <h6 class="md-flex m-0">Calendar Settings</h6>
                </div>
            </md-toolbar>               
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 p-l-0 tooltipselect"  infoicon displaytxt="Select Company Calendar Types">
                    <label>	Calendar Types</label>
                    <md-select id="CalendarTypes" ng-model="CreateCompanyCtrl.companyCalendraType" multiple aria-label="Calendar">
                        <md-option id="typeCalenderType" ng-value="calendarType.Key" ng-repeat="calendarType in AutomationCommonData['CalenderType']">{{calendarType.Value}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>        
    </div>
</md-content>