﻿<md-content class="" ng-cloak>
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-10">
        <h6 class="m-15">Community Settings</h6>
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-12 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Phrases which you want to block">
                    <label>	Block Phrases</label>
                    <input type="text" class="field__input" validate noempty="true" ng-model="CreateCompanyCtrl.CummunitySetting.LoginName">
                </md-input-container>
            </div>
        </div>
    </div>
</md-content>