﻿<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-toolbar class="m-h-40 m-b-10">
                <div class="md-toolbar-tools widgetTooltip">
                    <h6 class="md-flex m-0">Company Language</h6>
                </div>
            </md-toolbar>  
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 tooltipselect" infoicon displaytxt="Select Company Langauges">
                    <label>Allowed Language Types</label>
                    <md-select id="LangDropdown1" ng-model="CreateCompanyCtrl.langDetails.LanguagesModal" multiple aria-label="language">
                        <md-option id="type{{lang.ISOCode}}" ng-value="lang.ISOCode" ng-repeat="lang in AutomationCommonData['Languages']">{{lang.Value}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
</md-content>
