﻿
<div class="companydetails" ng-cloak id="SocialDetails">
    <companybasicinfo></companybasicinfo>
    <companysecurity></companysecurity>
    <companylanguage></companylanguage>
    <companymailingdetails></companymailingdetails>
    <companytreesetup></companytreesetup>
    <companyteamlink></companyteamlink>
    <companyziplingo></companyziplingo>
    <calendarsetting></calendarsetting>
   
</div>

