﻿<div class="" ng-cloak id="BasicDetails">
    <md-content class="md-padding p-0">
        <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
            <h6 class="">Company Information</h6>
            <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Name">
                        <label>Company</label>
                        <input type="text" class="field__input" validate noempty="true" ng-model="SessionData.companyInfo.CompanyName">
                    </md-input-container>
                    <md-input-container class="col-lg-6 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Short Name">
                        <label>Short Name</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-model="SessionData.companyInfo.ShortName">
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 tooltipselect" infoicon displaytxt="Select Company Default context type">
                        <label>Providers</label>
                        <md-select ng-model="SessionData.companyInfo.ProviderTypesModal" md-on-close ="CreateCompanyCtrl.CheckProvider(SessionData.companyInfo.ProviderTypesModal)">
                            {{prov}}
                            <md-option ng-repeat="prov in CreateCompanyCtrl.Providers | filter: { Active: true }" value="{{prov.id}}">
                                {{prov.Name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="SessionData.companyInfo.ProviderTypesModal === '1'">
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Key">
                        <label>Company Key</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-model="SessionData.exigoInfo.CompanyKey">
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Login Name">
                        <label>Company Login Name</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-model="SessionData.exigoInfo.ApiLoginName">
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Password">
                        <label>Company Password</label>
                        <input type="password" class="field__input" field-input validate noempty="true" ng-model="SessionData.exigoInfo.ApiPassword">
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="SessionData.companyInfo.ProviderTypesModal === '1'">
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 tooltipselect"  infoicon displaytxt="Select Default context type">
                        <label>Default Context</label>
                        <md-select ng-model="SessionData.exigoInfo.DefaultContextModal">
                            {{contxt}}
                            <md-option ng-repeat="contxt in CreateCompanyCtrl.DefaultContext" value="{{contxt.id}}">
                                {{contxt.Name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-8 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Reporting Connection String">
                        <label>Reporting Connection String</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-model="SessionData.exigoInfo.ReportingString">
                    </md-input-container>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="SessionData.companyInfo.ProviderTypesModal === '1'">
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Payment Api Login Name">
                        <label>Payment Api Login Name</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-model="SessionData.exigoInfo.PaymentApiLoginName">
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Payment Api Password">
                        <label>Payment Api Password</label>
                        <input type="password" class="field__input" field-input validate noempty="true" ng-model="SessionData.exigoInfo.PaymentApiLoginPassword">
                    </md-input-container>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="SessionData.companyInfo.ProviderTypesModal === '4'">
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Value of company key should be Static for pillar Provider for all client">
                        <label>Company Key</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-init="SessionData.pillarsInfo.CommandKey='4i6Cb9LHX86teZLc5T01q7m8WJVo7KwZ'" ng-model="SessionData.pillarsInfo.CommandKey" ng-disabled="true" >
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 tooltipselect" infoicon displaytxt="Select Merchant">
                        <label>MerchantID</label>                        
                        <md-select ng-model="SessionData.pillarsInfo.MerchantID"> 
                            <md-option value="1">ProPay</md-option> 
                            <md-option value="99">Test Merchant</md-option>                             
                            <md-option value="3">AuthorizeNET</md-option>
                            <md-option value="4">PayPal</md-option>
                            <md-option value="6">Meritus_ITA</md-option>
                            <md-option value="10">No Payment</md-option>
                            <md-option value="11">Reward Points</md-option>
                            <md-option value="12">Check Deposit</md-option>
                            <md-option value="13">Cash Deposit</md-option>
                        </md-select>
                    </md-input-container>
                </div>
               
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Domain">
                        <label>Domain</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-model="SessionData.companyInfo.Domain">
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 tooltipselect" infoicon displaytxt="Select Company Tree type">
                        <label>Tree Type</label>
                        <md-select ng-model="SessionData.companyInfo.TreeTypeModal">
                            {{treetype}}
                            <md-option ng-repeat="treetype in AutomationCommonData['TreeTypes']" value="{{treetype.Key}}">
                                {{treetype.Value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 tooltipselect" infoicon displaytxt="Select Company preferred timezone">
                        <label>TimeZone</label>
                        <md-select ng-model="SessionData.companyInfo.TimeZoneModal">
                            {{TimeZone}}
                            <md-option ng-repeat="tz in CreateCompanyCtrl.AllTimeZone" value="{{tz.Timezone}}">
                                {{tz.Name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>
        </div>
    </md-content>
</div>

