﻿<style>
    p {
        font-size: 12px !important;
        line-height: 15px !important;
    }
</style>  
  <md-content class="md-padding p-0">
        <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
            <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <md-toolbar class="m-h-40 m-b-10">
                    <div class="md-toolbar-tools widgetTooltip">
                        <h6 class="md-flex m-0">Company Details</h6>
                    </div>
                </md-toolbar>      
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Address 1">
                            <label>Address1</label>
                            <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.companyDetails.Address1">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter  Company Address 2">
                            <label>Address2</label>
                            <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.companyDetails.Address2">

                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company City">
                            <label>City</label>
                            <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.companyDetails.City">
                        </md-input-container>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company State">
                            <label>State</label>
                            <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.companyDetails.State">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Zip">
                            <label>Zip</label>
                            <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.companyDetails.Zip">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Country">
                            <label>Country</label>
                            <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.companyDetails.Country">
                        </md-input-container>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Phone">
                            <label>Phone</label>
                            <input type="text" class="field__input" field-input validate noempty="true" inputonlynumber="true" ng-model="CreateCompanyCtrl.companyDetails.Phone">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Email">
                            <label>Email</label>
                            <input type="text" class="field__input" field-input validate noempty="true" email="true" ng-model="CreateCompanyCtrl.companyDetails.Email">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Facebook Url">
                            <label>Facebook Url<p>https://www.facebook.com/...Exam.</p></label>
                            <input type="text" class="field__input" field-input validate  url="true" ng-model="CreateCompanyCtrl.companyDetails.FacebookUrl">
                        </md-input-container>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Twitter Url">
                            <label>Twitter Url<p>https://twitter.com/...Exam.</p></label>
                            <input type="text" class="field__input" field-input validate  url="true" ng-model="CreateCompanyCtrl.companyDetails.TwitterUrl">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Linkedin Url">
                            <label>LinkedIn Url<p>https://www.linkedin.com/...Exam.</p></label>
                            <input type="text" class="field__input" field-input validate url="true" ng-model="CreateCompanyCtrl.companyDetails.LinkedInUrl">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Pinterest Url">
                            <label>Pinterest Url<p>https://in.pinterest.com/...Exam.</p></label>
                            <input type="text" class="field__input" field-input validate  url="true" ng-model="CreateCompanyCtrl.companyDetails.PinterestUrl">
                        </md-input-container>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Instagram Url">
                            <label>Instagram Url<p>https://www.instagram.com/...Exam.</p></label>
                            <input type="text" class="field__input" field-input validate  url="true" ng-model="CreateCompanyCtrl.companyDetails.InstagramUrl">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Gplus Url">
                            <label>GooglePlus Url<p>https://plus.google.com/...Exam.</p></label>
                            <input type="text" class="field__input" field-input validate url="true" ng-model="CreateCompanyCtrl.companyDetails.GooglePlusUrl">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Youtube Url">
                            <label>Youtube Url<p>https://www.youtube.com/...Exam.</p></label>
                            <input type="text" class="field__input" field-input validate url="true" ng-model="CreateCompanyCtrl.companyDetails.YoutubeUrl">
                        </md-input-container>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Vimeo Url">
                            <label>Vimeo Url<p>https://vimeo.com/...Exam.</p></label>
                            <input type="text" class="field__input" field-input validate url="true" ng-model="CreateCompanyCtrl.companyDetails.VimeoUrl">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Support Phone">
                            <label>Support Phone</label>
                            <input type="text" class="field__input" field-input validate noempty="true" inputonlynumber="true" ng-model="CreateCompanyCtrl.companyDetails.SupportPhone">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Support Email">
                            <label>Support Email</label>
                            <input type="text" class="field__input" field-input validate noempty="true" email="true" ng-model="CreateCompanyCtrl.companyDetails.SupportEmail">
                        </md-input-container>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Product Email">
                            <label>Product Email</label>
                            <input type="text" class="field__input" field-input validate noempty="true" email="true" ng-model="CreateCompanyCtrl.companyDetails.ProductEmail">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Replicated SiteUrl">
                            <label>Replicated SiteUrl</label>
                            <input type="text" class="field__input" field-input validate noempty="true" url="true" ng-model="CreateCompanyCtrl.companyDetails.ReplicatedSiteUrl">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Company Company Name">
                            <label>Company Name</label>
                            <input type="text" class="field__input" field-input validate noempty="true" ng-model="CreateCompanyCtrl.companyDetails.CompanyName">
                        </md-input-container>
                    </div>
                </div>
            </div>
    </md-content>
