﻿<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <h6 class="">Company Setting</h6>
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div ng-repeat="(key,value) in ProfileSettingControl | groupBy:'Name'" id="control{{value.Id}}" class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <!--<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 card-header b-b m-b-10" ng-bind="key" style="padding-left:0 !important"></div>-->
                <md-toolbar class="m-h-40 m-b-10">
                    <div class="md-toolbar-tools widgetTooltip">
                        <h6 class="md-flex m-0" ng-bind="key" ></h6>
                    </div>
                </md-toolbar>
                <div ng-repeat="set in value" ng-init="CreateCompanyCtrl.GetSettingJsondata(set.Id)" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <md-input-container class="control-group col-lg-12 col-sm-12 col-md-12 col-xs-12" ng-if="SettingControl[set.Id].controlType==1" infoicon displaytxt="{{SettingControl[set.Id].settingName}}">
                        <label class="m-l-15" ng-bind="SettingControl[set.Id].settingName"></label>
                        <input validate checkvalidation validatetag="{{SettingControl[set.Id].valueType}}" type="text" class="field__input" ng-model="SettingControl[set.Id].InputText" ng-init="SettingControl[set.Id].InputText=set.Value" ng-disabled="SettingControl[set.Id].canEdit?false:true" >
                    </md-input-container>

                    <md-input-container class="tooltipselect col-lg-12 col-sm-12 col-md-12 col-xs-12" infoicon displaytxt="{{SettingControl[set.Id].settingName}}" ng-if="SettingControl[set.Id].controlType==6">
                        <label ng-bind="SettingControl[set.Id].settingName"></label>
                        <md-select ng-model="SettingControl[set.Id].InputText" aria-label="tree" multiple ng-disabled="SettingControl[set.Id].canEdit?false:true">
                            <md-option ng-repeat="item in AutomationCommonData[SettingControl[set.Id].customDataSelect] track by $index">
                                {{item.Value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-12 col-sm-12 col-md-12 col-xs-12 tooltipselect" infoicon displaytxt="{{SettingControl[set.Id].settingName}}" ng-if="SettingControl[set.Id].controlType==5" ng-disabled="SettingControl[set.Id].canEdit?false:true">
                        <label ng-bind="SettingControl[set.Id].settingName"></label>
                        <md-select ng-model="SettingControl[set.Id].InputText" aria-label="tree">
                            <md-option ng-repeat="item in AutomationCommonData[SettingControl[set.Id].customDataSelect] track by $index">
                                {{item.Value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="col-lg-12 col-sm-12 col-md-12 col-xs-12 md-block md-input-has-value" infoicon displaytxt="{{SettingControl[set.Id].settingName}}" ng-if="SettingControl[set.Id].controlType==2" ng-disabled="SettingControl[set.Id].canEdit?false:true">
                        <label ng-bind="SettingControl[set.Id].settingName"></label>
                        <textareaid validate checkvalidation validatetag="{{SettingControl[set.Id].valueType}}"  md-select-on-focus="" rows="5" md-maxlength="150" ng-model="SettingControl[set.Id].InputText" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" aria-invalid="false" ng-trim="false" style="height: 135px;" ng-disabled="SettingControl[set.Id].canEdit?false:true"></textareaid>
                    </md-input-container>
                    <md-input-container class=col-lg-12 col-sm-12 col-md-12 col-xs-12 "control-group" ng-if="SettingControl[set.Id].controlType==4" infoicon displaytxt="{{SettingControl[set.Id].settingName}}">
                        <md-checkbox ng-model="SettingControl[set.Id].InputText" value="true" aria-label="Checkbox" class="" ng-disabled="SettingControl[set.Id].canEdit?false:true">
                            {{SettingControl[set.Id].settingName}}
                        </md-checkbox>
                    </md-input-container>
                    <md-input-container class="col-lg-12 col-sm-12 col-md-12 col-xs-12 control-group" ng-if="SettingControl[set.Id].controlType==3" infoicon displaytxt="{{SettingControl[set.Id].settingName}}">
                        <md-switch class="m-0" ng-model="SettingControl[set.Id].InputText" ng-disabled="SettingControl[set.Id].canEdit?false:true">{{SettingControl[set.Id].settingName}}</md-switch>
                    </md-input-container>
                    <md-input-container class="col-lg-12 col-sm-12 col-md-12 col-xs-12 field flex-grow control-group m-t-10 m-b-10" ng-if="SettingControl[set.Id].controlType==7" infoicon displaytxt="{{SettingControl[set.Id].settingName}}">
                        <label class="field__label f-400 m-b-0 field__label--is-floating" translate>{{Getdate[set.Id].settingName}}</label>
                        <md-datepicker ng-disabled="SettingControl[set.Id].canEdit?false:true" ng-model="Getdate[set.Id].InputText" class="m-t-0 m-b-0" id="date_{{set.Id}}" ng-init="CreateCompanyCtrl.MakeDatePicker(set)" md-placeholder="Enter date" required></md-datepicker>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
</md-content>
