﻿<div class="widget-loading " ng-show="loading" layout layout-fill layout-align="center center">
    <div class="widget-loading-inner" ng-show="loading">
        <md-progress-circular md-mode="CreateCompanyCtrl.indeterminate" md-diameter="70"></md-progress-circular>
    </div>
</div>

<div layout="column" layout-align="center center">
    <div flex layout="row" layout-align="center center" layout-fill>
        <div flex="80" class="md-whiteframe-z1 flex-100">
            <md-tabs class="" layout-fill md-selected="CreateCompanyCtrl.currentStep" md-dynamic-height md-stretch-tabs="always">
                <md-tab ng-disabled="CreateCompanyCtrl.currentStep != 0">
                    <md-tab-label>
                        <span class="oxy-step-label">1</span>
                        <span>Company Info</span>
                    </md-tab-label>
                    <md-tab-body id="BasicDetails">
                        <companyinformation ng-if="CreateCompanyCtrl.currentStep == 0"></companyinformation>
                    </md-tab-body>
                </md-tab>
                <md-tab id="address" ng-click="" ng-disabled="CreateCompanyCtrl.currentStep != 1">
                    <md-tab-label>
                        <span class="oxy-step-label">2</span>
                        <span>Company Details</span>
                    </md-tab-label>
                    <md-tab-body >
                        <companydetails ng-if="CreateCompanyCtrl.currentStep == 1"></companydetails>
                    </md-tab-body>
                </md-tab>
                <md-tab id="address" ng-disabled="CreateCompanyCtrl.currentStep != 2">
                    <md-tab-label>
                        <span class="oxy-step-label">3</span>
                        <span>Company Setting</span>
                    </md-tab-label>
                    <md-tab-body >
                    <companysettingcontrols ng-if="CreateCompanyCtrl.currentStep == 2"/>
                    
                    </md-tab-body>
                </md-tab>
                <md-tab id="widgets" ng-disabled="CreateCompanyCtrl.currentStep != 3">
                    <md-tab-label>
                        <span class="oxy-step-label">4</span>
                        <span>Widegts Setting</span>
                    </md-tab-label>
                    <md-tab-body>
                        <widgetsettings ng-if="CreateCompanyCtrl.currentStep == 3" />
                    </md-tab-body>
                </md-tab>
                 <md-tab id="reportcenter" ng-disabled="CreateCompanyCtrl.currentStep != 4">
                    <md-tab-label>
                        <span class="oxy-step-label">5</span>
                        <span>Report Center Setting</span>
                    </md-tab-label>
                    <md-tab-body>
                        <reportcentersettings ng-if="CreateCompanyCtrl.currentStep == 4" />
                    </md-tab-body>
                </md-tab>
                <md-tab id="shoppingcarts" ng-disabled="CreateCompanyCtrl.currentStep != 5">
                    <md-tab-label>
                        <span class="oxy-step-label">5</span>
                        <span>Shopping carts configuration</span>
                    </md-tab-label>
                    <md-tab-body>
                        <shoppingcartconfiguration ng-if="CreateCompanyCtrl.currentStep == 5" />
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="CreateCompanyCtrl.nextTab()" ng-disabled=" " ng-if="false" aria-label="Skip" translate="Skip"></md-button>
                <md-button class="md-primary md-raised" validate trigger-check="true" success="CreateCompanyCtrl.nextTab(0)" ng-disabled=" " ng-if="CreateCompanyCtrl.currentStep===0" aria-label="Submit" translate="Submit"></md-button>
                <md-button class="md-primary md-raised" ng-if="CreateCompanyCtrl.currentStep!==0"  ng-click="CreateCompanyCtrl.nextTab(1)" aria-label="Finish" translate="Submit"></md-button>
            </div>
                </div>
        </div>
    </div>



