﻿        <md-content class="md-padding p-0">
            <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
                <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <md-toolbar class="m-h-40 m-b-10">
                        <div class="md-toolbar-tools widgetTooltip">
                            <h6 class="md-flex m-0">Mailing Details</h6>
                        </div>
                    </md-toolbar>    
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter  Login Name">
                            <label>	Login Name</label>
                            <input type="text" class="field__input" validate noempty="true" ng-model="CreateCompanyCtrl.mailingDetails.LoginName">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Password">
                            <label>	Password</label>
                            <input type="password" class="field__input" validate noempty="true" field-input ng-model="CreateCompanyCtrl.mailingDetails.Password" />
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group " infoicon displaytxt="Enter Host Name">
                            <label>	Host Name</label>
                            <input type="text" class="field__input" validate noempty="true" field-input ng-model="CreateCompanyCtrl.mailingDetails.HostName">
                        </md-input-container>

                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Server Port">
                            <label>	Server Port</label>
                            <input type="text" class="field__input" validate inputonlynumber="true" field-input ng-model="CreateCompanyCtrl.mailingDetails.ServerPort">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter From Email">
                            <label>	From Email</label>
                            <input type="text" class="field__input" validate noempty="true" email="true" field-input ng-model="CreateCompanyCtrl.mailingDetails.FromEmail">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter No Reply Email">
                            <label>	No Reply Email</label>
                            <input type="text" class="field__input" validate noempty="true" email="true" field-input ng-model="CreateCompanyCtrl.mailingDetails.NoReplyEmail">
                        </md-input-container>

                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Forget Url Link">
                            <label>	Forget Url Link</label>
                            <input type="text" class="field__input" validate noempty="true" url="true" field-input ng-model="CreateCompanyCtrl.mailingDetails.ForgetUrlLink">
                        </md-input-container>
                        <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Forgot Password Support Email">
                            <label>	Forgot Password Support Email</label>
                            <input type="text" class="field__input" validate noempty="true" email="true" field-input ng-model="CreateCompanyCtrl.mailingDetails.ForgotPasswordSupportEmail">
                        </md-input-container>
                    </div>
                </div>               
            </div>
        </md-content>
