<style type="text/css">
    .btnFixed {
        position: absolute !important;
    }

    }
</style>
<md-content class="md-padding p-0" ng-if="ReportCenterSettingData">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <h6 class="">Report Center</h6>
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 card-header b-b m-b-10" style="padding-left:0 !important">
                Trees
            </div>
            <div ng-repeat="tree in CreateCompanyCtrl.EntityTreeBlock" id="{{tree.id}}">
                <div class="card-body p-t-10" ng-init="ViewEntityBlock[$index] = true">
                    <md-input-container class="col-lg-5 col-sm-5 col-md-5 col-xs-5 tooltipselect" infoicon displaytxt="Select Tree Type">
                        <label>Please Select Entity</label>
                        <md-select ng-model="selectedItem[tree.id]" aria-label="list" ng-disabled="CreateCompanyCtrl.IsDisable[tree.id]">
                            {{item.Value}}
                            <md-option ng-value="item.Key" ng-repeat="item in CreateCompanyCtrl.NewEntityArray[tree.id] track by $index">{{item.Value}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="control-group col-lg-5 col-sm-5 col-md-5 col-xs-5" ng-if="true" infoicon displaytxt="Enter Display Name">
                        <label class="m-l-15">Display Name</label>
                        <input type="text" class="field__input" ng-model="selectedItemText[tree.id]" field-input validate noempty="true" ng-disabled="!selectedItem[tree.id] || selectedItem[tree.id]==undefined" email="">
                    </md-input-container>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 m-t-15">
                    <div class="fabSpeedDialdemoBasicUsage" layout="row" layout-align="end start">
                        <md-button class="md-accent m-t-0" field-input validate ng-click="CreateCompanyCtrl.AddRemoveEntity('add',selectedItem[tree.id],CreateCompanyCtrl.entityDisplayName,tree.id);ViewEntityBlock[$index] = false" ng-if="$last && CreateCompanyCtrl.NewEntityArray[tree.id].length > 1">
                            <i class="icon icon-24px ds_mdl-fab-group__main-icon"></i>
                            <md-tooltip md-direction="left" md-autohide="isOpen">
                                <span translate>Add More TreeType</span>
                            </md-tooltip>
                            <div class="md-ripple-container" style=""></div>
                        </md-button>
                        <md-button class="md-accent m-t-0" ng-click="CreateCompanyCtrl.AddRemoveEntity('remove',selectedItem[tree.id],CreateCompanyCtrl.entityDisplayName,tree.id);ViewEntityBlock[$index]=true" ng-if="!$last">
                            <i class="icon icon-24px icon-delete"></i>
                            <md-tooltip md-direction="left" md-autohide="isOpen">
                                <span translate>Remove TreeType</span>
                            </md-tooltip>
                            <div class="md-ripple-container" style=""></div>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 card-header b-b m-b-10" style="padding-left:0 !important">
                Field/Columns
            </div>
            <table id="table1" class="table table-vmiddle tablesaw">
                <thead>
                    <tr>
                        <th>
                            <div flex><label class="p-b-0">Field name</label></div>
                        </th>
                        <th>
                            <div flex><label class="p-b-0">Selected</label></div>
                        </th>
                        <!-- <th>
                            <div flex><label class="p-b-0">Primary Field</label></div>
                        </th> -->
                        <th>
                            <div flex><label class="p-b-0">Field Groups</label></div>
                        </th>
                        <th>
                            <div flex class="p-l-20"><label class="p-b-0 ">Display Name</label></div>
                        </th>
                    </tr>
                    </thead>
                <tbody>
                    <tr ng-class="{'nodrag nodrop':list.Key == 102}"  id="{{$index}}" ng-repeat="list in CreateCompanyCtrl.FieldList" style="height: 84px ! important;">
                        <td class="p-b-0"><div flex><md-switch id="md-{{list.Key}}" class="m-0 pull-left" ng-model="CreateCompanyCtrl.FieldColumn[list.Key]" toggle-widgetsmenu aria-label="switch">{{list.Value}}</div><span ng-bind="(list.Key == 102?'Default Column Cannot Drag':'')"></span></td>
                
                        <td class="p-b-0">
                            <div flex>
                                <md-checkbox aria-label="Checkbox" ng-model="CreateCompanyCtrl.DefaultSelected[list.Key]" ng-click="DefaultSelected[list.Key]?CreateCompanyCtrl.FieldColumn[list.Key]=false:CreateCompanyCtrl.FieldColumn[list.Key]=true;">
                                </md-checkbox>
                            </div>
                        </td>
                        <!-- <td class="p-b-0">
                            <div flex>
                                <md-checkbox aria-label="Checkbox" ng-model="PrimarySelected[list.Key]" ng-click="CreateCompanyCtrl.DisablePrimaryCheckboxes(PrimarySelected[list.Key]);" ng-disabled="CreateCompanyCtrl.DisbleAll">
                                </md-checkbox>
                            </div>
                        </td> -->
                        <td class="p-b-0">
                            <div flex>
                                <md-select ng-init="CreateCompanyCtrl.SelectedFieldGroups[list.Key] = CreateCompanyCtrl.FieldGroups[0].Key" ng-model="CreateCompanyCtrl.SelectedFieldGroups[list.Key]" aria-label="list" ng-disabled="!CreateCompanyCtrl.FieldColumn[list.Key]">
                                    {{item.Value}}
                                    <md-option ng-value="item.Key" ng-repeat="item in CreateCompanyCtrl.FieldGroups track by $index">{{item.Value}}</md-option>
                                </md-select>
                            </div>
                        </td>
                        <td class="p-b-0">
                            <md-input-container class="control-group m-0" style="height:28px;width:100%" ; infoicon displaytxt="Enter Display Name">
                                <label class="m-l-0">Display Name</label>
                                <input type="text" ng-model="CreateCompanyCtrl.fieldDispname[list.Key]" ng-disabled="!CreateCompanyCtrl.FieldColumn[list.Key]" class="field__input" field-input validate noempty="true">
                            </md-input-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</md-content>
