﻿    <md-content class="md-padding p-0">
        <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
          
            <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <md-toolbar class="m-h-40 m-b-10">
                    <div class="md-toolbar-tools widgetTooltip">
                        <h6 class="md-flex m-0">Security  Setup</h6>
                    </div>
                </md-toolbar>   
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Secure Encryption Key">
                        <label>Encryption Key</label>
                        <input type="text" class="field__input" validate noempty="true" ng-init="CreateCompanyCtrl.securitySetup.EncryptionKey='md!5342%$^&'" ng-model="CreateCompanyCtrl.securitySetup.EncryptionKey" ng-disabled="true" />
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Secure IV Key">
                        <label>IV Key</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-init="CreateCompanyCtrl.securitySetup.IVKey='6qf98xc9b2s1dfgh'" ng-model="CreateCompanyCtrl.securitySetup.IVKey" ng-disabled="true" />
                    </md-input-container>
                    <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="life time for token">
                        <label>Token Life Time</label>
                        <input type="text" class="field__input" field-input validate noempty="true" ng-init="CreateCompanyCtrl.securitySetup.TokenLifeTime=20" ng-model="CreateCompanyCtrl.securitySetup.TokenLifeTime" ng-disabled="true" />
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-content>
