﻿<md-content class="md-padding p-0" layout-xs="column" layout="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0 p-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-toolbar class="m-h-40 m-b-10">
                <div class="md-toolbar-tools widgetTooltip">
                    <h6 class="md-flex m-0">Shopping Carts Configuration</h6>
                </div>
            </md-toolbar>

            <div class="fabSpeedDialdemoBasicUsage" layout="row" layout-align="end start">
                <md-button class="md-accent m-t-0" ng-click="CreateCompanyCtrl.AddShoppingCartSetup($event,1,'');">
                    <i class="icon icon-24px ds_mdl-fab-group__main-icon"></i>
                    <md-tooltip md-direction="left" md-autohide="isOpen">
                        <span translate>Add Shopping Cart</span>
                    </md-tooltip>
                    <div class="md-ripple-container" style=""></div>
                </md-button>
            </div>
            <div class="col-lg-6 p-0" ng-repeat="data in SessionData.ShoppingCarts">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{data.Name}}</span>
                            <span class="md-subhead">{{data.CurrencyCode}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row" layout-wrap class="m-b-15">
                            <div flex="50">
                                Currencies : {{data.CurrencyCode}}
                            </div>
                            <div flex="50">
                                Language : {{data.LanguageID}}
                            </div>
                        </div>
                        <div layout="row" layout-wrap>
                            <div flex="50">
                                Country : {{data.CountryCode}}
                            </div>
                            <div flex="50">
                                Warehouse : {{data.WarehouseID}}
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="CreateCompanyCtrl.FEditCart($event,data.Id,1)">Edit</md-button>
                        <md-button ng-click="CreateCompanyCtrl.Fdeletecart(data.Id,1)">Delete</md-button>
                    </md-card-actions>
                </md-card>
            </div>


        </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0 p-0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-toolbar class="m-h-40 m-b-10">
                <div class="md-toolbar-tools widgetTooltip">
                    <h6 class="md-flex m-0">AutoOrder Cart Configuration</h6>
                </div>
            </md-toolbar>

            <div class="fabSpeedDialdemoBasicUsage" layout="row" layout-align="end start">
                <md-button class="md-accent m-t-0" ng-click="CreateCompanyCtrl.AddShoppingCartSetup($event,2,'');">
                    <i class="icon icon-24px ds_mdl-fab-group__main-icon"></i>
                    <md-tooltip md-direction="left" md-autohide="isOpen">
                        <span translate>Add AutoOrder Cart</span>
                    </md-tooltip>
                    <div class="md-ripple-container" style=""></div>
                </md-button>
            </div>
            <div class="col-lg-6 p-0" ng-repeat="data in SessionData.AutoOrderShoppingCarts">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{data.Name}}</span>
                            <span class="md-subhead">{{data.CurrencyCode}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row" layout-wrap class="m-b-15">
                            <div flex="50">
                                Currencies : {{data.CurrencyCode}}
                            </div>
                            <div flex="50">
                                Language : {{data.LanguageID}}
                            </div>
                        </div>
                        <div layout="row" layout-wrap>
                            <div flex="50">
                                Country : {{data.CountryCode}}
                            </div>
                            <div flex="50">
                                Warehouse : {{data.WarehouseID}}
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="CreateCompanyCtrl.FEditCart($event,data.Id,2)">Edit</md-button>
                        <md-button ng-click="CreateCompanyCtrl.Fdeletecart(data.Id,2)">Delete</md-button>
                    </md-card-actions>
                </md-card>
            </div>


        </div>
    </div>
</md-content>