﻿<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">    
            <md-toolbar class="m-h-40 m-b-10">
                <div class="md-toolbar-tools widgetTooltip">
                    <h6 class="md-flex m-0">Teamlink Setup</h6>
                </div>
            </md-toolbar>           
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Teamlink User Name">
                    <label>	User Name</label>
                    <input type="text" class="field__input" validate noempty="true" ng-init="CreateCompanyCtrl.teamlinkSetup.UserName='56ab616a6a8a3abd7e2d09e9'" ng-model="CreateCompanyCtrl.teamlinkSetup.UserName"  ng-disabled="true">
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Teamlink Password">
                    <label>	Password</label>
                    <input type="password" class="field__input" validate noempty="true" ng-init="CreateCompanyCtrl.teamlinkSetup.Password='197e0f66-5dbc-4f13-96f1-2672b262971f'" field-input ng-model="CreateCompanyCtrl.teamlinkSetup.Password"  ng-disabled="true" />
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Teamlink Company Key">
                    <label>Company Key</label>
                    <input type="text" class="field__input" validate noempty="true" ng-init="CreateCompanyCtrl.teamlinkSetup.CompanyKey='577cd44ff35e4ddf1cfd7c48'" field-input ng-model="CreateCompanyCtrl.teamlinkSetup.CompanyKey" ng-disabled="true" />
                </md-input-container>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Teamlink Url">
                    <label>Url</label>
                    <input type="text" class="field__input" validate noempty="true" url="true"  ng-init="CreateCompanyCtrl.teamlinkSetup.Url='https://teamlinklb.wsicloud.com/ext'"  field-input ng-model="CreateCompanyCtrl.teamlinkSetup.Url" ng-disabled="true" />
                </md-input-container>
            </div>
        </div>        
    </div>
</md-content>