﻿<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0 p-l-30 p-r-30">
        <md-toolbar class="m-h-40 m-b-10">
            <div class="md-toolbar-tools widgetTooltip">
                <h6 class="md-flex m-0">Tree Setup</h6>
            </div>
        </md-toolbar>      
            <div ng-repeat="treeblock in CreateCompanyCtrl.dynamicTreeBlock" id="{{treeblock.id}}">
                <div class="card-body p-t-10" ng-init="ViewBlock[$index] = true">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <md-input-container class="col-lg-2 col-xs-12 p-l-0 m-b-0 tooltipselect"  infoicon displaytxt="Select Company Tree Types">
                            <label>Tree Type</label>
                            <md-select ng-model="CreateCompanyCtrl.treeSetup[$index].TreeType" aria-label="tree">
                                {{treetype}}
                                <md-option ng-repeat="treetype in CreateCompanyCtrl.TreeType" value="{{treetype.id}}">
                                    {{treetype.Name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="col-lg-2 col-xs-12 p-l-0 control-group m-b-0" infoicon displaytxt="Enter Tree Display Name">
                            <label>Display Name</label>
                            <input type="text" class="field__input" field-input validate  ng-model="CreateCompanyCtrl.treeSetup[$index].DisplayName">
                        </md-input-container>
                        <md-input-container class="col-lg-2 col-xs-12 p-l-0 control-group m-b-0" infoicon displaytxt="Enter Tree Description">
                            <label>Description</label>
                            <input type="text" class="field__input" field-input validate ng-model="CreateCompanyCtrl.treeSetup[$index].Description">
                        </md-input-container>
                        <md-input-container class="col-lg-2 col-xs-12 p-l-0 control-group m-b-0 tooltipselect"  infoicon displaytxt="Choose Customers for Tree">
                            <label>Allowed Customer Types</label>
                            <md-select ng-model="CreateCompanyCtrl.treeSetup[$index].CustomerTypes" multiple aria-label="treeAllowedCustomerTypes">
                                <md-option ng-value="allowedcustomerTypes.Key" ng-repeat="allowedcustomerTypes in AutomationCommonData['CustomerTypes']">{{allowedcustomerTypes.Value}}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="col-lg-2 col-xs-12 p-l-0 control-group m-b-0 tooltipselect"  infoicon displaytxt="Choose Customers Statuses for Tree">
                            <label>Allowed Customer Status</label>
                            <md-select ng-model="CreateCompanyCtrl.treeSetup[$index].CustomerStatuses" multiple aria-label="treeAllowedCustomerStatus">
                                <md-option ng-value="allowedcustomerStatus.Key" ng-repeat="allowedcustomerStatus in AutomationCommonData['CustomerStatuses']">{{allowedcustomerStatus.Value}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="col-lg-2 col-xs-12 p-l-0 control-group m-b-0 tooltipselect"  infoicon displaytxt="Choose Levels for Tree">
                            <label>Level</label>
                            <md-select ng-model="CreateCompanyCtrl.treeSetup[$index].Levels" aria-label="treeLevel">                              
                                <md-option ng-repeat="n in [].constructor(8) track by $index" value="{{ $index+1 }}">
                                    {{ $index+1 }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="fabSpeedDialdemoBasicUsage" layout="row" layout-align="end start">
                            <md-button class="md-accent m-t-0" ng-click="CreateCompanyCtrl.AddRemoveTreeSetup('add',CreateCompanyCtrl.treeSetup[$index],treeblock.id);ViewBlock[$index] = false" ng-if="$last">
                                <i class="icon icon-24px ds_mdl-fab-group__main-icon"></i>
                                <md-tooltip md-direction="left" md-autohide="isOpen">
                                    <span translate>Add More TreeType</span>
                                </md-tooltip>
                                <div class="md-ripple-container" style=""></div>
                            </md-button>
                            <md-button class="md-accent m-t-0" ng-click="CreateCompanyCtrl.AddRemoveTreeSetup('remove',CreateCompanyCtrl.treeSetup[$index],treeblock.id);ViewBlock[$index] = true" ng-if="!$last">
                                <i class="icon icon-24px icon-delete"></i>
                                <md-tooltip md-direction="left" md-autohide="isOpen">
                                    <span translate>Remove TreeType</span>
                                </md-tooltip>
                                <div class="md-ripple-container" style=""></div>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
</md-content>