﻿<md-content class="md-padding p-0" ng-repeat="widgets in GetWidgetSettingData.Widgets" style="overflow: visible !important;">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-10" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0" ng-class="{'bgm-color4':CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]}">
            <md-switch id="md-{{widgets.WidgetId}}" class="pull-left" ng-model="CreateCompanyCtrl.InputText[$index]" ng-click="CreateCompanyCtrl.ExpandSwitch(InputText[$index],widgets.WidgetId)" toggle-widgetsmenu ischecked="InputText" aria-label="switch">
            </md-switch>
            <h6 class="widgetTooltip pull-left m-t-20" ng-class="{'c-white':CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]}" uib-popover-html="widgets.Description" popover-title="{{widgets.Name}}" popover-trigger="mouseenter" popover-placement="bottom">{{widgets.Name}}</h6>
        </div>
        <ul style="display:none" class="p-t-15 col-lg-12 p-l-0 p-r-0">
            <li style="list-style:none;">
                <div class="card-body" ng-if="widgets.WidgetSettings.length > 0">
                    <md-toolbar class="m-h-40 m-b-10">
                        <div class="md-toolbar-tools widgetTooltip">
                            <h6 class="md-flex m-0" uib-popover-html="widgets.WidgetSetting" popover-trigger="mouseenter" popover-placement="right">Widget Setting</h6>
                        </div>
                    </md-toolbar>
                    <div ng-repeat="widgetsetting in widgets.WidgetSettings" id="control{{widgetsetting.Key}}" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div ng-init="GetWidgetJsondata(widgetsetting.Key)" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 p-0">
                            <md-input-container class="control-group col-lg-12 col-sm-12 col-md-12 col-xs-12" ng-if="WidgetSettingControl[widgetsetting.Key].controlType==1" infoicon displaytxt="{{WidgetSettingControl[widgetsetting.Key].tooltip}}">
                                <label class="m-l-15" ng-bind="WidgetSettingControl[widgetsetting.Key].elementaccessName"></label>
                                <input type="text" validate checkvalidation validatetag="{{WidgetSettingControl[widgetsetting.Key].valueType}}" class="field__input" ng-model="WidgetSettingControl[widgetsetting.Key].InputText" ng-disabled="WidgetSettingControl[widgetsetting.Key].canEdit?false:true">
                            </md-input-container>
                            <md-input-container class="tooltipselect col-lg-12 col-sm-12 col-md-12 col-xs-12" infoicon displaytxt="{{WidgetSettingControl[widgetsetting.Key].tooltip}}" ng-if="WidgetSettingControl[widgetsetting.Key].controlType==6">
                                <label ng-bind="WidgetSettingControl[widgetsetting.Key].elementaccessName"></label>
                                <md-select ng-model="WidgetSettingControl[widgetsetting.Key].InputText" aria-label="tree" multiple ng-disabled="WidgetSettingControl[widgetsetting.Key].canEdit?false:true || CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]">
                                    <md-option value="{{item.Key}}" ng-repeat="item in AutomationCommonData[WidgetSettingControl[widgetsetting.Key].customDataSelect] track by $index">
                                        {{item.Value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="col-lg-12 col-sm-12 col-md-12 col-xs-12 tooltipselect" infoicon displaytxt="{{WidgetSettingControl[widgetsetting.Key].tooltip}}" ng-if="WidgetSettingControl[widgetsetting.Key].controlType==5" ng-disabled="WidgetSettingControl[widgetsetting.Key].canEdit?false:true || CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]">
                                <label ng-bind="WidgetSettingControl[widgetsetting.Key].elementaccessName"></label>
                                <md-select ng-model="WidgetSettingControl[widgetsetting.Key].InputText" aria-label="tree">
                                    <md-option ng-repeat="item in AutomationCommonData[WidgetSettingControl[widgetsetting.Key].customDataSelect] track by $index">
                                        {{item.Value}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="col-lg-12 col-sm-12 col-md-12 col-xs-12 md-block md-input-has-value" infoicon displaytxt="{{WidgetSettingControl[widgetsetting.Key].tooltip}}" ng-if="WidgetSettingControl[set.Id].controlType==2" ng-disabled="WidgetSettingControl[widgetsetting.Key].canEdit?false:true">
                                <label ng-bind="WidgetSettingControl[widgetsetting.Key].elementaccessName"></label>
                                <textarea validate checkvalidation validatetag="{{WidgetSettingControl[widgetsetting.Key].valueType}}" md-select-on-focus="" rows="5" md-maxlength="150" ng-model="WidgetSettingControl[widgetsetting.Key].InputText" class="ng-pristine ng-valid md-input ng-not-empty ng-touched" aria-invalid="false" ng-trim="false" style="height: 135px;" ng-disabled="WidgetSettingControl[widgetsetting.Key].canEdit?false:true"></textarea>
                            </md-input-container>
                            <md-input-container class="col-lg-12 col-sm-12 col-md-12 col-xs-12 control-group" ng-if="WidgetSettingControl[widgetsetting.Key].controlType==4" infoicon displaytxt="{{WidgetSettingControl[widgetsetting.Key].tooltip}}">
                                <md-checkbox ng-model="WidgetSettingControl[widgetsetting.Key].InputText" value="true" aria-label="Checkbox" class="" ng-disabled="WidgetSettingControl[widgetsetting.Key].canEdit?false:true || CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]">
                                    {{WidgetSettingControl[set.Id].elementaccessName}}
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="col-lg-12 col-sm-12 col-md-12 col-xs-12 control-group" ng-if="WidgetSettingControl[widgetsetting.Key].controlType==3" infoicon displaytxt="{{WidgetSettingControl[widgetsetting.Key].tooltip}}">
                                <md-switch class="m-0" ng-model="WidgetSettingControl[widgetsetting.Key].InputText" ng-disabled="WidgetSettingControl[widgetsetting.Key].canEdit?false:true || CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]" aria-label="switch">{{WidgetSettingControl[widgetsetting.Key].elementaccessName}}</md-switch>
                            </md-input-container>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 field flex-grow control-group m-t-10 m-b-10" ng-if="WidgetSettingControl[widgetsetting.Key].controlType==7" infoicon displaytxt="{{WidgetSettingControl[widgetsetting.Key].tooltip}}">
                                <label class="field__label f-400 m-b-0 field__label--is-floating">{{Getdate[widgetsetting.Key].elementaccessName}}</label>
                                <md-datepicker ng-disabled="WidgetSettingControl[widgetsetting.Key].canEdit?false:true || CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]" ng-model="Getdate[widgetsetting.Key].InputText" class="m-t-0 m-b-0" id="date_{{widgetsetting.Key}}" ng-init="MakeDatePicker(set)" md-placeholder="Enter date" required></md-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="">
                        <md-toolbar class="m-h-40">
                            <div class="md-toolbar-tools">
                                <h6 class="md-flex m-0 widgetTooltip" uib-popover-html="widgets.WidgetAccess" popover-trigger="mouseenter" popover-placement="right">Widget Access</h6>
                            </div>
                        </md-toolbar>
                        <md-input-container class="col-lg-12">
                            <md-content class="md-padding">
                                <div layout="row">
                                    <div class="f-500" flex><span uib-popover="Types of customer which you want to select" popover-trigger="mouseenter" popover-placement="right">Customer Types</span></div>
                                    <div class="f-500" flex ng-repeat="accesstype in widgets.CurrentAccessTypes">
                                        <span uib-popover-html="accesstype.popover" popover-trigger="mouseenter" popover-placement="right">{{accesstype.value}}</span>
                                    </div>
                                </div>
                                <div layout="row" class="m-t-10" ng-repeat="custtypes in CustomerTypes">
                                    <div flex><span uib-popover-html="custtypes.popover" popover-trigger="mouseenter" popover-placement="right">{{custtypes.Value}}</span></div>
                                    <div flex ng-repeat="elementAccess in widgets.CurrentAccessTypes">
                                        <md-checkbox ng-disabled="CreateCompanyCtrl.IsShowElementAccess || CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]" aria-label="Checkbox" ng-change="CreateCompanyCtrl.GetWidgetAccessTypes(widgets.WidgetId,elementAccess.key,custtypes.Key,SessionData.WidgetAccessTypes[widgets.WidgetId + '_'+elementAccess.key +'_'+custtypes.Key])" ng-model="SessionData.WidgetAccessTypes[widgets.WidgetId + '_'+elementAccess.key +'_'+custtypes.Key]">
                                        </md-checkbox>
                                    </div>
                                </div>
                            </md-content>
                            <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                                <md-button class="md-primary md-raised" ng-show="!CreateCompanyCtrl.IsShowElementAccess" ng-click="CreateCompanyCtrl.IsShowElementAccess = true;CreateCompanyCtrl.GetCurrentWidgetData(widgets.WidgetId,elementAccess.key,custtypes.Key)" ng-disabled="!IsLockButtonShow[widgets.WidgetId]">Lock Settings</md-button>
                                <md-button class="md-primary md-raised" ng-show="CreateCompanyCtrl.IsShowElementAccess" ng-click="CreateCompanyCtrl.IsShowElementAccess = false;UnlockSetting()">UnLock Settings</md-button>
                            </div>
                        </md-input-container>
                    </div>
                </div>

                <div class="card-body" ng-if="CreateCompanyCtrl.IsShowElementAccess">
                    <div class="">
                        <md-toolbar class="m-h-40">
                            <div class="md-toolbar-tools">
                                <h6 class="md-flex m-0 widgetTooltip" uib-popover-html="widgets.WidgetElementAccess" popover-trigger="mouseenter" popover-placement="right">Widget Elements Access</h6>
                            </div>
                        </md-toolbar>
                        <md-content>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="{{Atype.value}}" ng-repeat="Atype in CurrentData[widgets.WidgetId].AccessTypes">
                                    <md-content class="md-padding">
                                        <div layout="row">
                                            <div class="f-500" flex>
                                                <span uib-popover="Types of Access Pages which you want to select" popover-trigger="mouseenter" popover-placement="right">Access Elements</span>
                                            </div>
                                            <div class="f-500" flex ng-repeat="ctype in CurrentData[widgets.WidgetId].CustomerTypes | filter:{accesstype:Atype.key}">
                                                <span uib-popover-html="ctype.popover" popover-trigger="mouseenter" popover-placement="right">{{ctype.value}}</span>
                                            </div>
                                        </div>
                                        <div layout="row" class="m-t-10" ng-repeat="ElAccess in widgets.WidgetAccessElements">
                                            <div flex><span uib-popover="Set values of {{ElAccess.Value}}" popover-trigger="mouseenter" popover-placement="right">{{ElAccess.Value}}</span></div>
                                            <div flex ng-repeat="cinnertype in CurrentData[widgets.WidgetId].CustomerTypes | filter:{accesstype:Atype.key}">
                                                <md-checkbox ng-disabled="CreateCompanyCtrl.IsWidgetDone[widgets.WidgetId]" aria-label="Checkbox" ng-change="CreateCompanyCtrl.GetElementAccessType(widgets.WidgetId,ElAccess.Key,cinnertype.key,Atype.key,ElementCustomerTypes[ElAccess.Key])" ng-model="ElementCustomerTypes[ElAccess.Key]">
                                                </md-checkbox>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>

                            </md-tabs>
                        </md-content>

                    </div>
                </div>

                <md-input-container class="col-lg-12" ng-if="CreateCompanyCtrl.IsShowElementAccess && !IsSubmitButtonShow[widgets.WidgetId]">
                    <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-click="CreateCompanyCtrl.SaveWidgetData(widgets.WidgetId,$index)">Submit</md-button>
                    </div>
                </md-input-container>
            </li>
        </ul>
    </div>

</md-content>


