﻿<md-content class="md-padding p-0">
    <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12 m-b-0">
        <div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
            <md-toolbar class="m-h-40 m-b-10">
                <div class="md-toolbar-tools widgetTooltip">
                    <h6 class="md-flex m-0">Ziplingo Setup</h6>
                </div>
            </md-toolbar>           
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Ziplingo User Name">
                    <label>User Name</label>
                    <input type="text" class="field__input" validate noempty="true" ng-model="CreateCompanyCtrl.ziplingoSetup.UserName">
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Ziplingo Password">
                    <label>	Password</label>
                    <input type="password" class="field__input" validate noempty="true" field-input ng-model="CreateCompanyCtrl.ziplingoSetup.Password" />
                </md-input-container>
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Ziplingo Client Id">
                    <label>	Client Id</label>
                    <input type="text" class="field__input" validate noempty="true" field-input ng-model="CreateCompanyCtrl.ziplingoSetup.ClientId">
                </md-input-container>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <md-input-container class="col-lg-4 col-xs-12 p-l-0 control-group" infoicon displaytxt="Enter Ziplingo Grant Type">
                    <label>Grant Type</label>
                    <input type="text" class="field__input" validate noempty="true" field-input ng-model="CreateCompanyCtrl.ziplingoSetup.GrantType">
                </md-input-container>
            </div>
        </div>       
    </div>
</md-content>

